
UnityPanelWidget,
.unity-panel {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_base_color, 1.5)),
                                     to (shade (@theme_base_color, 1.04)));
    border-top-color: shade (@theme_bg_color, 1.6);
    border-style: solid;
    border-width: 1px 0 0 0;
    padding: 0;
    color: @theme_fg_color;


}

.unity-panel.menubar,
.unity-panel .menubar {
}

.unity-panel.menuitem,
.unity-panel .menuitem {

}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {


}


