.lightdm.menu {
    background-image: none;
    background-color: alpha (black, 0.6);
    border:solid;
    border-width:2px;
    border-color: #050505;

    padding: 1px;

    color: white;

   
}

.lightdm.menu .menuitem *,
.lightdm.menu .menuitem.check:active,
.lightdm.menu .menuitem.radio:active {
    color: white;


}

.lightdm.menubar {
    background-image: none;
    background-color: alpha (black, 0.5);
}

.lightdm.button,
.lightdm.entry {
    background-image: none;
    border-image: none;
    background-color: alpha (black, 0.3);
    border-color: alpha (white, 0.6);
    border-radius: 4px;
    padding: 7px;

    color: white;
    text-shadow: none;


}

.lightdm.button:focused *,
.lightdm.button:selected *,
.lightdm.button:selected:focused *,
.lightdm.entry:focused *,
.lightdm.entry:selected *,
.lightdm.entry:selected:focused * {
    border-color: alpha (white, 0.9);
    background-color: alpha (black, 0.3);
    color: white;


}
