  /*Marples-black: GTK2 - GTK3 - Metacity themes
    Copyright (C) 2011  Ninez
  
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.*/

* {
    engine: adwaita;
    padding: 1;

    /* Style properties */
    -GtkButton-child-displacement-x: 1;
    -GtkButton-child-displacement-y: 1;
    -GtkButton-default-border: 0;
    -GtkButton-image-spacing: 1;
    -GtkButton-interior-focus: true;
    -GtkToolButton-icon-spacing: 1;

    -GtkTextView-error-underline-color: @error_color;

    -GtkPaned-handle-size: 2;

    -GtkCheckButton-indicator-size: 16;
    -GtkCheckMenuItem-indicator-size: 12;

    /* The size for scrollbars. The slider is 2px smaller, but we keep it
     * up so that the whole area is sensitive to button presses for the
     * slider. The stepper button is larger in both directions, the slider
     * only in the width
     */

    -GtkScrolledWindow-scrollbar-spacing: 0;
    -GtkScrolledWindow-scrollbars-within-bevel: 1;

    -GtkToolItemGroup-expander-size: 12;
    -GtkExpander-expander-size: 7;
    -GtkToolbar-internal-padding: 0;     /* ??? */

    -GtkMenu-horizontal-padding: 1;
    -GtkMenu-vertical-padding: 8;

    -GtkWidget-link-color: @link_color;
    -GtkWidget-visited-link-color: @link_color;
    -GtkIMHtml-hyperlink-color: @link_color;
    -GtkHTML-link-color: @link_color;

    -GtkWidget-wide-separators: 1;

    -WnckTasklist-fade-overlay-rect: 0;

    -GtkEntry-inner-border: 2;
    -GtkButton-inner-border: 2;
    -GtkEntry-progress-border: 0;

    /* Style */
     background-color: alpha (#333, 0.2);
     color: #cfcfcf;
     
     border-radius: 2;

    -GtkWidget-focus-padding: 2;
    -GtkWidget-focus-line-width: 1;
    -adwaita-focus-border-color: alpha (#fff, 0.0);
    -adwaita-focus-border-radius: 2;
    -adwaita-focus-fill-color: alpha (#fff, 0.0);
    -adwaita-focus-border-gradient: none;
    -adwaita-focus-border-dashes: 0;
}

/***************
 * Base States *
 ***************/


*:hover {

    background-color: alpha (#fff, 0.2);
    color: #fff;
    border-color: alpha (#fff, 0.2);
    border-radius: 0;
}

*:selected {

    background-color: alpha (#20cccc, 0.2);
    color: #fff;
}

*:selected:focused {
    background-color: alpha (#20cccc, 0.2);
    color: #fff;
}

*:insensitive {
    background-color: alpha (#20cccc, 0.2);
    color: #fff;
}

*:active {
    background-color: alpha (#20cccc, 0.7);
    color: #fff;
}

.background {
    background-image: url("img/bg1.png");
    border-style: none;
    border-width: 0;
    border-radius: 0;
}

.tooltip {

    padding: 10;
    background-color: alpha (#000, 0.60);
    border-style: solid;
    border-width: 1;
    border-radius: 3;
    border-color: alpha (#fff, 0.10);

}

.grip {
    background-image: url("assets/jlj-grip.png");
    border-style: none;
    border-width: 0;
    border-radius: 0;
    
}

.pane-separator {
    background-color: alpha (#222, 0.70);
    color: alpha (#fff, 0.05);
}

.pane-separator:prelight,
.pane-separator:selected {
    background-color: alpha (#222, 0.70);
    border-color: alpha (#79c718, 0.20);
}

/****************
 * Text Entries *
 ****************/
.entry,
.toolbar.entry {


    color: #fff;
    border-radius: 2;
    border-width: 0;
    border-style: solid;
    background-image: url("img/border2.png");

 -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#fff, 0.01)),
                              to (alpha (#000, 0.30)));

    padding: 2;
}

.entry:focused {
 background-image: url("img/border2.png");

 -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#fff, 0.01)),
                              to (alpha (#fff, 0.30)));
}

.entry:insensitive {
 background-image: url("img/border2.png");

 -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#fff, 0.01)),
                              to (alpha (#fff, 0.30)));
}

.entry.progressbar {
    background-color: alpha (#fff, 0.20); 
    color: @theme_selected_fg_color;

    border-width: 1;
    border-radius: 4;
    border-color: alpha (#fff, 0.20); 
}

/*****************
 * GtkSpinButton *
 *****************/
GtkSpinButton.button,
GtkSpinButton.button:insensitive,
GtkSpinButton.button:prelight,
GtkSpinButton.button:active {
    background-image: url("img/spin-button.png");
    border-width: 0;
    border-style: none;
    padding: 1;
}

/****************
 * Progress bar *
 ****************/
GtkProgressBar.progressbar {
    background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#20cccc, 0.60)),
                       to (alpha (#000, 0.0)));


    border-radius: 3;
    border-style: none;
    border-color: alpha (#79c718, 0.40); 
}

GtkProgressBar.trough {
 background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#000, 0.40)),
                       to (alpha (#000, 0.20)));

    color: #fff;
    border-radius: 4;
    border-width: 0;
    border-style: none;




    -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#fff, 0.01)),
                              to (alpha (#fff, 0.17)));

    padding: 2; 
}

/************
 * GtkScale *
 ************/
GtkScale {
    -GtkScale-slider-length: 22;
    -GtkRange-slider-width: 22;
    -GtkRange-trough-border: 0;
}

GtkScale.slider {
    border-width: 0;
    border-radius: 0;
    background-image: url("assets/slider-horiz1.png");
    -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#000, 0.0)),
                              to (alpha (#000, 0.00)));


}

GtkScale.slider:insensitive {
   border-width: 0;
    border-radius: 0;
    background-image: url("assets/slider-horiz1.png");
    -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#000, 0.0)),
                              to (alpha (#000, 0.00)));


}

GtkScale.scale-has-marks-below.slider.horizontal {
    -adwaita-border-gradient: -gtk-gradient (linear,
                               left top, left bottom,
                               from (alpha (#fff, 0.40)),
                               to (alpha (#fff, 0.40)));
}

GtkScale.scale-has-marks-below.slider.vertical {
    -adwaita-border-gradient: -gtk-gradient (linear,
                               left top, left bottom,
                               from (alpha (#fff, 0.40)),
                               to (alpha (#fff, 0.40)));
}

GtkScale.scale-has-marks-above.slider.horizontal {
    -adwaita-border-gradient: -gtk-gradient (linear,
                               left top, left bottom,
                               from (alpha (#fff, 0.40)),
                               to (alpha (#fff, 0.40)));
}

GtkScale.scale-has-marks-above.slider.vertical {
    -adwaita-border-gradient: -gtk-gradient (linear,
                               left top, left bottom,
                               from (alpha (#fff, 0.40)),
                               to (alpha (#fff, 0.40)));
}

GtkScale.trough {
    border-width: 1;
    border-radius: 4;
    border-style: solid;
    border-color: alpha (#fff, 0.30); 
}

GtkScale.trough:insensitive {
    background-color: alpha (#fff, 0.20); 
    border-color: alpha (#fff, 0.20); 
}

GtkScale.trough.horizontal {
    background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#fff, 0.20)),
                       to (alpha (#fff, 0.0)));
}

GtkScale.trough.vertical {
    background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#fff, 0.20)),
                       to (alpha (#fff, 0.0)));
}

GtkScale.progressbar {
    background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#fff, 0.10)),
                       to (alpha (#fff, 0.0)));

    border-color: alpha (#fff, 0.09);
    border-width: 1;
    border-radius: 4;
    border-style: solid;
}

GtkScale.mark {
    background-color: alpha (#fff, 0.20);
}

GtkFrame,
GtkCalendar {
    padding: 2;
}

.frame {
    color: alpha (#000, 0.10);
    border-style: none;
    border-width: 1;
}


/*****************
 * Notebooks and *
 * tabs          *
 *****************/
.notebook {


    border-color: alpha (#000, 0.1);   /*must stay 0.0 or else phat ugly border*/
    border-style: solid;
    border-width:8;
    border-radius: 4;
    background-color: alpha (#fff, 0.1);
    
    -GtkNotebook-tab-overlap: -2;
    -GtkNotebook-tab-curvature: 2;
}

.notebook tab {
    padding: 2;
    background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#fff, 0.20)),
                       to (alpha (#000, 0.2)));

    -adwaita-focus-border-radius: 2;
    color: #fff;
}

.notebook tab:active {
    
    /*border-image: url("img/notebook.png");*/
    background-image: -gtk-gradient (linear,
                left top, left bottom,
                from (alpha (#fff, 0.30)),
              to (alpha (#aaa, 0.05)));



    border-color: alpha (#0082f1, 0.80);

    border-width: 4;
        -adwaita-border-gradient: -gtk-gradient (linear,
                                   left top, left bottom,
                                   from (alpha (#004982, 0.05)),
                                   to (alpha (#555, 0.05)));
       -adwaita-selected-tab-color: alpha (#004982, 0.10);

    
     
    color: #fff;




    
}

.notebook tab .button,
.notebook tab .button:hover,
.notebook tab .button:hover:active {

    background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#fff, 0.30)),
                       to (alpha (#000, 0.2)));
    border-color: alpha (#fff, 0.4);

}

/**************
 * ComboBoxes *
 **************/

GtkComboBox {
    padding: 1 2;




    -GtkWidget-focus-padding: 0;
    -GtkWidget-focus-line-width: 0;

    -GtkComboBox-arrow-scaling: 0.5;
    /*-GtkComboBox-shadow-type: 2;*/
	
}

GtkComboBox.button {

    color: alpha (#fff, 0.10);
}


/**************
 * Scrollbars *
 **************/

.scrollbar {
    border-style: none;
    -GtkRange-trough-border: 2;
    -GtkRange-arrow-scaling: 0.444;
    -GtkRange-slider-width: 12;
    -GtkRange-stepper-size: 0;
    -GtkScrollbar-min-slider-length: 32; /* minimum size for the slider. sadly can't be in '.slider' where it belongs */

    -GtkRange-stepper-spacing: 0;
    -GtkRange-trough-under-steppers: 0;
}

.scrollbar.trough {

	
    background-image: -gtk-gradient (linear,
                       left top, right bottom,
                       from (alpha (#2d2d2d, 0.80)),
                       to (alpha (#202020, 0.40)));

    border-style: solid;
    border-width: 1;
    border-radius: 0;
    border-color: alpha (#222, 0.70);


}

.scrollbar.slider,
.scrollbar.button {
    background-image: url("img/bg1-scroll.png");

    border-style: solid;
    border-width: 6;
    border-radius: 2;
    border-color: alpha (#999, 0.30);

}

.scrollbar.slider:prelight {
    background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#323232, 0.80)),
                       to (alpha (#1d1d1d, 0.40)));
    border-color: alpha (#bbb, 0.50);
    border-radius: 2; 
}
.scrollbar.slider.horizontal:prelight {
    background-image: -gtk-gradient (linear,
                       left top, right top,
                       from (alpha (#303030, 0.80)),
                       to (alpha (#1d1d1d, 0.60)));
    border-color: alpha (#bbb, 0.40);
    border-radius: 2;
}

.scrollbar.slider:prelight:active {
    background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#3d3d3d, 0.60)),
                       to (alpha (#111, 0.50)));
    border-color: alpha (#1879c7, 0.65);
    border-radius: 2;
}
.scrollbar.slider.horizontal:prelight:active {
    background-image: -gtk-gradient (linear,
                                             left top, right top,
                                             from (alpha (#222, 0.60)),
                                             to (alpha (#3d3d3d, 0.50)));
    border-color: alpha (#79c718, 0.60);
    border-radius: 2;
}


.scrollbar.button {
    color: alpha (#555, 0.50);
}

.scrollbar.button:prelight {
    background-image: none;
    background-color: alpha (#555, 0.20);
    border-color: alpha (#aaa, 0.50);
}

.scrollbar.button:prelight:active {
    background-image: none;
    background-color: alpha (#aaa, 0.20);
    border-color: alpha (#79c718, 0.50);
}

.scrollbar.button:insensitive {
    color: lighter (@internal_element_color);
    background-color: alpha (#555, 0.10);
}

.scrollbar.slider:insensitive {
    background-color: alpha (#555, 0.20);
}

.scrollbar.trough:insensitive {
    background-color: alpha (#555, 0.20);
}

/***********
 * Buttons *
 ***********/
.button {
    background-image: url("img/border2-dark.png");




    color: #fff;
    border-radius: 3;
    border-width: 0;
    border-style: none;




    -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#fff, 0.04)),
                              to (alpha (#fff, 0.08)));

    padding: 2;

   
}

.button:hover,
.toolbar.button:hover {
    background-image: url("img/border2.png");

}

.button:active,
.toolbar .button:active,
.button:hover:active,
.toolbar.button:hover:active {
    background-image: url("img/border2.png");

    -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#79c718, 0.5)),
                              to (alpha (#79c718, 0.8)));
     

}

.button:insensitive {
    background-image: url("img/border2-dark.png");
   

}

.button.default {
        background-image: url("img/border2-dark.png");

	
}

/*********
 * Menus *
 *********/

/* this controls the general appearance of the menubar */
.menubar {
    
    background-image: url("img/menu-z.png");
    border-radius: 0;
    border-width: 0;
    border-style: none;
    padding: 4;
    color: alpha (#aaa, 0.1);

    -GtkWidget-window-dragging: true;
    -GtkMenuBar-internal-padding: 0;
}

/* remove the image from the prelight areas */
.menubar.menuitem:prelight {
    background-color: alpha (#000, 0.0);
    border-image: url("img/blank.png")4 4 4 4;
    border-style: none;
    
    border-width: 0;
    border-color: alpha (#fff, 0.20);
    padding: 1;
}

.menubar.menuitem {  
    border-image: url("img/blank.png")4 4 4 4;
    border-width: 2;
    border-style: none;
    color: alpha (#fff, 0.75);
    padding: 1;
}

.menu {
    padding: 0;
    border-image: url("img/border1.png")4 4 4 4;
    background-image: url("img/menud.png");
    background-color: alpha (#222, 1.0);
    border-style: none;
    border-width: 2;
    border-radius: 0;
    border-color: #222;

    -GtkMenuItem-arrow-scaling: 0.4;

}

.menuitem {
    -adwaita-menuitem-arrow-color: alpha (#aaa, 0.60);
    color: alpha (#eee, 1.0);
}

.menuitem.accelerator {
    color: alpha (#37ffa8, 0.20);
}

.menuitem.accelerator:prelight,
.menuitem.accelerator:active {
    color: alpha (#27ffa1, 0.2);
}

.menuitem:active,
.menuitem:prelight {
            padding: 1;

    border-image: url("img/borderx.png")4 4 4 4;
    background-color: alpha (#37ffa8, 0.1);

    border-style: solid;
    border-width: 0;
    border-radius: 0;
    border-color: alpha (#8dfdc5, 0.20);

}

.menu.separator {
    -adwaita-border-gradient: -gtk-gradient (linear,
                                             left top, right top,
                                             from (alpha (#111, 0.00)),
                                             color-stop (0.30, alpha (#111, 0.25)),
                                             color-stop (0.50, alpha (#111, 0.30)),
                                             color-stop (0.70, alpha (#111, 0.25)),
                                             to (alpha (#8dc5fd, 0.00)));

    -GtkSeparatorMenuItem-horizontal-padding: 0;
    -GtkWidget-separator-height: 0;
}

/* menu radio and check items are drawn differently */
.menu.check:active {


    color: @menu_controls_color;
}

.menu.radio:active {


    color: @menu_controls_color;
}

.menu.check:prelight {

    color: @theme_selected_fg_color;
}

.menu.radio:prelight {

    color: @theme_selected_fg_color;
}


/*************************
 * Check and Radio items *
 *************************/

/* draw regular check and radio items using our SVG assets */
.check,
.check row:selected,
.check row:selected:focused {
    background-image: url("assets/checkbox-unchecked.svg");
}

.check:insensitive,
.check row:selected:insensitive,
.check row:selected:focused:insensitive {
    background-image: url("assets/checkbox-unchecked-insensitive.svg");
}

.check:active,
.check row:selected:active,
.check row:selected:focused:active {
    background-image: url("assets/checkbox-checked.png");
}

.check:active:insensitive,
.check row:selected:active:insensitive,
.check row:selected:focused:active:insensitive
{
    background-image: url("assets/checkbox-checked-insensitive.svg");
}

.check:inconsistent,
.check row:selected:inconsistent,
.check row:selected:focused:inconsistent {
    background-image: url("assets/checkbox-mixed.svg");
}

.radio,
.radio row:selected,
.radio row:selected:focused {
    background-image: url("assets/radio-unselected.svg");
}

.radio:insensitive,
.radio row:selected:insensitive,
.radio row:selected:focused:insensitive {
    background-image: url("assets/radio-unselected-insensitive.svg");
}

.radio:active,
.radio row:selected:active,
.radio row:selected:focused:active {
    background-image: url("assets/radio-selected.png");
}

.radio:active:insensitive,
.radio row:selected:active:insensitive,
.radio row:selected:focused:active:insensitive {
    background-image: url("assets/radio-selected-insensitive.svg");
}

.radio:inconsistent,
.radio row:selected:inconsistent,
.radio row:selected:focused:inconsistent {
    background-image: url("assets/radio-mixed.svg");
}

/************
 * Toolbars *
 ************/
.toolbar {
    padding: 2;
        background-image: url("img/bg1-toolbar.png");

    border-style: none;
    border-width: 0;
    border-radius: 0;
   -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#ccc, 0.08)),
                              to (alpha (#ccc, 0.39)));


}

.toolbar:insensitive {
     
    color:  alpha (#bbb, 0.08);
}

/********************
 * Primary Toolbars *
 ********************/

.primary-toolbar.toolbar {
    padding: 0;
    background-image: url("img/bg1-toolbar.png");

    border-style: none;
    border-width: 0;
    border-radius: 0;




   -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#333, 0.28)),
                              to (alpha (#111, 0.18)));


}

.primary-toolbar.toolbar:insensitive {
    padding: 2;
    background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#555, 0.08)),
                       to (alpha (#999, 0.09)));

    border-style: none;
    border-width: 0;
    border-radius: 0;
   -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#bbb, 0.08)),
                              to (alpha (#ccc, 0.08)));

}

/* primary toolbar buttons converted to pixmap*/
.primary-toolbar.toolbar.button {

    padding: 0;
    background-image: url("img/border2-dark1.png");
    color: #fff;
    border-radius: 2;
    border-width: 1;
    border-style: none;
    -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#ccc, 0.08)),
                              to (alpha (#ccc, 0.09)));


}

.primary-toolbar.toolbar.button:insensitive {
    padding: 0;
    background-image: url("img/border2-dark1.png");
    color: #fff;
    border-radius: 2;
    border-width: 1;
    border-style: none;
    -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#ccc, 0.09)),
                              to (alpha (#ccc, 0.04)));


   
}

.primary-toolbar.toolbar.button:hover {
    padding: 0;
    background-image: url("img/border2.png");
    
    color: #fff;
    border-radius: 2;
    border-width: 1;
    border-style: solid;
    -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#fff, 0.08)),
                              to (alpha (#fff, 0.09)));


}

.primary-toolbar.toolbar.button:active {
    padding: 0;
    background-image: url("img/border2.png");
    
    border-style: solid;
    border-width: 1;
    border-radius: 2;
    border-color: alpha (#ccc, 0.09);

   
}

.primary-toolbar.toolbar.button:active:prelight {
    padding: 0;
    background-image: url("img/border2-lite.png");
    background-color: alpha (#000, 0.0);
    
    border-style: solid;
    border-width: 1;
    border-radius: 2;
    border-color: alpha (#79c718, 0.80);


}

.primary-toolbar.toolbar.button:active:insensitive {
    padding: 0;
    background-image: url("img/border2-lite.png");
    color: #fff;
    
    border-radius: 2;
    border-width: 0;
    border-style: solid;
    -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#000, 0.20)),
                              to (alpha (#79c718, 0.20)));

}

.primary-toolbar.toolbar.separator {
    border-style: solid;
    border-width: 1;
    border-color:  alpha (#ccc, 0.08);
}

/* primary toolbar raised buttons */
.primary-toolbar.toolbar.raised.button,
.primary-toolbar.toolbar.raised.button:insensitive {
    padding: 2;
    background-image: url("img/border2.png");
    color: #fff;
    
    border-radius: 2;
    border-width: 1;
    border-style: solid;
    -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#fff, 0.08)),
                              to (alpha (#fff, 0.08)));
}

.primary-toolbar.toolbar.raised.button:hover {
    padding: 2;
    background-image: url("img/border2.png");
    color: #fff;
   
    border-radius: 2;
    border-width: 1;
    border-style: solid;
    -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#fff, 0.08)),
                              to (alpha (#fff, 0.09)));

}

.primary-toolbar.toolbar.raised.button:hover:active,
.primary-toolbar.toolbar.raised.button:active {
    padding: 2;
    background-image: url("img/border2-lite.png");
    color: #fff;
    
    border-radius: 2;
    border-width: 1;
    border-style: solid;
    -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#79c718, 0.60)),
                              to (alpha (#79c718, 0.80)));

    
}

/* progressbars on primary toolbar entries are special */
.primary-toolbar.toolbar.entry.progressbar {
    background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#fff, 0.07)),
                       to (alpha (#fff, 0.09)));

    border-width: 1;
    border-radius: 2;
    border-color:  alpha (#333, 0.09);
}

/*******************
 * Inline toolbars *
 *******************/

.inline-toolbar.toolbar {
    border-width: 1;
    border-radius: 4;
    border-style: none;
    border-color: alpha (#bbb, 0.50);
    background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#fff, 0.08)),
                       to (alpha (#fff, 0.09)));
}

/*************
 * GtkSwitch *
 *************/

GtkSwitch {
    padding:    0;
    font: bold condensed 14;
}

GtkSwitch.trough {

    border-style: none;
    color:  alpha (#fff, 0.70);
    border-radius: 3;
    background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#000, 0.30)),
                       to (alpha (#000, 0.30)));

    -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#fff, 0.08)),
                              to (alpha (#fff, 0.08)));





}

GtkSwitch.trough:active {
    color:      alpha (#fff, 0.70);
    border-radius: 3;
    background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#000, 0.30)),
                       to (alpha (#000, 0.30)));

    -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#fff, 0.08)),
                              to (alpha (#fff, 0.08)));

}

GtkSwitch.trough:insensitive {
    border-radius: 3;
    background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#000, 0.30)),
                       to (alpha (#000, 0.30)));

    -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#fff, 0.08)),
                              to (alpha (#fff, 0.08)));





}

GtkSwitch.slider {

    border-style: none;
    border-width: 0;
    background-image: url("assets/switch-dead.png");
    border-radius: 2;
    -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#eee, 0.2)),
                              to (alpha (#111, 0.1)));




    
}

GtkSwitch.slider:active {
	
    border-style: none;
    border-width: 0;
    background-image: url("assets/switch.png");
    border-radius: 2;
    -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#eee, 0.2)),
                              to (alpha (#111, 0.1)));



}

GtkSwitch.slider:prelight {
	
    border-style: none;
    border-width: 0;
    background-image: url("assets/switch.png");
    border-radius: 2;
    -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#eee, 0.2)),
                              to (alpha (#111, 0.10)));


}

GtkSwitch.slider:insensitive {
	
    border-style: none;
    border-width: 0;
    background-image: url("assets/switch-dead.png");
    border-radius: 2;
    -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#eee, 0.2)),
                              to (alpha (#111, 0.10)));


}

GtkStatusbar {
    padding: 5;
    color: alpha (#fff, 0.60);
    /*-GtkStatusbar-shadow-type: 3;*/
}

GtkScrolledWindow.frame {
    border-style: solid;
    border-color: alpha (#444, 0.50);
    border-width: 0;
    border-radius: 3;
}

GtkViewport,
GtkIconView {

    border-radius: 2;
    padding: 0;
}

GtkIconView.view.cell:selected,
GtkIconView.view.cell:selected:focused {
    
    background-color: alpha (#fff, 0.10);
    border-radius: 4;

    /* FIXME: this probably needs to be better;
     * see https://bugzilla.gnome.org/show_bug.cgi?id=644157
     */
    -adwaita-focus-border-color: alpha (#fff, 0.10);
    -adwaita-focus-border-radius: 3;
    -adwaita-focus-border-dashes: 0;


    
}

.view {

    background-color: alpha (#2d2d2d, 0.65);
    color: alpha (#cfcfcf, 0.98);
    border-radius: 0;
    border-width: 2;

}

GtkTreeView {

    -GtkTreeView-vertical-separator: 0;
    -GtkTreeView-expander-size: 8;

    -GtkWidget-focus-line-width: 1;
    -adwaita-focus-border-radius: 0;
    -adwaita-focus-border-dashes: 0;
    -adwaita-focus-border-color: alpha (#333, 0.40);
}

GtkTreeView.separator {
     background-color: alpha (#333, 0.40);
}

column-header {
    padding: 0 0;
	color: #343434;
}

column-header .button {


     background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (#111),
                                     color-stop (0.02, #242424),
                                     color-stop (0.03, #242424),
                                     color-stop (0.97, #111),
                                     color-stop (0.98, #333),
                                     to (#111));

    border-width: 0;
    border-radius: 0;
color:#999;
}
column-header .button:hover {


     background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (#000),
                                     color-stop (0.02, #242424),
                                     color-stop (0.03, #242424),
                                     color-stop (0.97, #111),
                                     color-stop (0.98, #333),
                                     to (#000));
    border-width: 0;
    border-radius: 0;
    color:#cfcfcf;
}

row:hover {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (#000),
                                     color-stop (0.01, #79c718),
                                     color-stop (0.03, #242424),
                                     color-stop (0.97, #111),
                                     color-stop (0.99, #79c718),
                                     to (#000));

    color: #cfcfcf;
    border-radius: 0;
    border-width: 0;
    border-style: solid;


    padding: 2;

    /*border-style: solid;
    border-width: 0;
    border-radius: 10;
    border-color: #000;*/
 
}

row:insensitive {
    border-width: 0;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (#111),
                                     color-stop (0.01, #79c718),
                                     color-stop (0.03, #242424),
                                     color-stop (0.97, #111),
                                     color-stop (0.99, #79c718),
                                     to (#111));


}

row:selected:focused {
    border-width: 0;

    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (#111),
                                     color-stop (0.01, #79c718),
                                     color-stop (0.03, #242424),
                                     color-stop (0.97, #111),
                                     color-stop (0.99, #79c718),
                                     to (#111));


}

row:selected {
    border-width: 0;
    /*border-image: url("img/button-border.png")3 3 3 3;
    background-image: url("img/black.png");*/
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (#111),
                                     color-stop (0.01, #79c718),
                                     color-stop (0.03, #242424),
                                     color-stop (0.97, #111),
                                     color-stop (0.99, #79c718),
                                     to (#111));
}

.cell {
    background-image: url("img/grade-blk.png");

    /*background-color: alpha (@theme_bg_color, 0.80);*/

    color: #cfcfcf; /*@theme_text_color;*/
    padding: 0;
    border-width: 0;
}

.cell:selected {

    background-color: @theme_selected_bg_color;
}

.expander {
    color: alpha (#fff, 0.60);
    border-color: alpha (#fff, 0.40);

    background-color: alpha (#333, 0.70);
}

.expander:active {
    color: alpha (#fff, 0.60);
    border-color: alpha (#fff, 0.40);

    background-color: alpha (#333, 0.70);
}

.expander:prelight {
    color: @expander_row_selected_color;
    border-color: @expander_row_selected_color;

    background-color: @theme_selected_bg_color;
}

.expander row:selected,
.expander row:selected:focused {
    border-color: @expander_row_selected_color;
    color: @expander_row_selected_color;
    background-color: @theme_selected_bg_color;
}

/* Calendars */
GtkCalendar.view {
    border-radius: 3;
    border-style: none;
    border-width: 0;
    padding: 2;
}

GtkCalendar.header {
    border-radius: 0;
    background-image: -gtk-gradient (linear,
                                     left top,
                                     left bottom,
                                     from (shade (@theme_bg_color, 1.04)),
                                     to (shade (@theme_bg_color, 0.89)));
    border-width: 0;
}

GtkCalendar.button {
    background-image: -gtk-gradient (linear,
                                     left top,
                                     left bottom,
                                     from (rgba (0, 0, 0, 0)),
                                     to (rgba (0, 0, 0, 0)));
}

.highlight,
GtkCalendar.highlight {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
    border-radius: 0;
    padding: 0;
    border-width: 0;
}

.info {
    background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#fff, 0.20)),
                       to (alpha (#fff, 0.10)));
    background-color: @info_bg_color;
    color: @info_fg_color;
}

.warning {
    background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#fff, 0.20)),
                       to (alpha (#fff, 0.10)));
    background-color: @warning_bg_color;
    color: @warning_fg_color;
}

.question {
    background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#fff, 0.20)),
                       to (alpha (#fff, 0.10)));
    background-color: @question_bg_color;
    color: @question_fg_color;
}

.error {
    background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#fff, 0.20)),
                       to (alpha (#fff, 0.10)));
    background-color: @error_bg_color;
    color: @error_fg_color;
}

.dim-label {
    color: mix (@theme_fg_color, @theme_bg_color, 0.50);
}

.sidebar,.sidebar.view {
    background-image: url("img/grade-blk.png");
    color: #cfcfcf;
}

ApDocView, /* Abiword */
EogScrollView, /* Eog */
CheeseThumbView /* Cheese */
{
    background-color: @chrome_bg_color;
    -EogScrollView-shadow-type: none;
}

/* gnome-terminal */
TerminalScreen {

    background-color: #222;
    color: #fff;
    -TerminalScreen-background-darkness: 0.75;
}

/**********************
 * Fallback Mode Panel
 **********************/

PanelWidget,
PanelApplet,
PanelApplet > GtkMenuBar.menubar,
.gnome-panel-menu-bar,
PanelAppletFrame,
PanelMenuBar.menubar,
PanelToplevel {
background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#000, 0.40)),
                       to (alpha (#000, 0.20)));

 -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#fff, 0.01)),
                              to (alpha (#fff, 0.30)));
    color: @os_chrome_fg_color;
}

ClockBox,
.gnome-panel-menu-bar {
    font: bold;
}

PanelApplet > GtkMenuBar.menubar.menuitem:prelight,
.gnome-panel-menu-bar.menuitem:prelight {
color: @os_chrome_selected_fg_color;
background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#fff, 0.40)),
                       to (alpha (#fff, 0.20)));

 -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#fff, 0.01)),
                              to (alpha (#fff, 0.30)));
}

/* panel buttons (clock, tasklist etc) */
PanelApplet GtkToggleButton {
background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#fff, 0.40)),
                       to (alpha (#000, 0.20)));

 -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#fff, 0.01)),
                              to (alpha (#fff, 0.30)));
    border-width: 1;
    color: @os_chrome_fg_color;
}

PanelApplet GtkToggleButton:prelight:active,
PanelApplet GtkToggleButton:active {
background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#000, 0.40)),
                       to (alpha (#000, 0.20)));

 -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#fff, 0.01)),
                              to (alpha (#fff, 0.30)));
    border-width: 1;
    color: @os_chrome_selected_fg_color;
}

PanelApplet GtkToggleButton:prelight {
background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#000, 0.40)),
                       to (alpha (#fff, 0.20)));

 -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#fff, 0.01)),
                              to (alpha (#fff, 0.30)));
    border-width: 1;
    color: @os_chrome_selected_fg_color;
}

NaTrayApplet {
    -NaTrayApplet-icon-padding: 12;
}

WnckPager, WnckTasklist {
background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#000, 0.40)),
                       to (alpha (#000, 0.20)));

 -adwaita-border-gradient:-gtk-gradient (linear,
                              left top, left bottom,
                              from (alpha (#fff, 0.01)),
                              to (alpha (#fff, 0.30)));
    color: @os_chrome_fg_color;
}

GsmFailWhaleDialog,
GsmFailWhaleDialog * {
    background-color: @os_chrome_bg_color;
    background-image: -gtk-gradient (linear,
                       left top, left bottom,
                       from (alpha (#fff, 0.10)),
                       to (alpha (#fff, 0.10)));
    color: @os_chrome_fg_color;
}
