/* Copyright 2009, Red Hat, Inc.
 *
 * Portions adapted from Mx's data/style/default.css
 *   Copyright 2009 Intel Corporation
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms and conditions of the GNU Lesser General Public License,
 * version 2.1, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for
 * more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St - Fifth Floor, Boston, MA 02110-1301 USA.
 */

/*GNOME Shell Elementary theme designed by Sean Wilson*/

stage {
    font-family: cantarell, ubuntu, sans-serif;
}

.shell-link {
    color: #111;
    text-decoration: underline;
}

.shell-link:hover {
    color: #000;
}

/* small */
.app-well-menu,
.contact-details-status,
.run-dialog-label,
.run-dialog-error-label {
    font-size: 9pt;
}

/* small bold */
.dash-label,
.window-caption,
.switcher-list, 
.source-title,
.app-well-app > .overview-icon,
.remove-favorite > .overview-icon,
.search-result-content > .overview-icon {
    font-size: 9pt;
    font-weight: bold;
}

StScrollBar
{
  padding: 0px;
}

StScrollView StScrollBar
{
  min-width: 10px;
  min-height: 16px;
}

StScrollView.vfade
{
    -st-vfade-offset: 68px;
}

StScrollView.hfade
{
    -st-hfade-offset: 68px;
}

StScrollBar StBin#trough {
    background-color: #999;
    border-radius: 4px;
}

StScrollBar StButton#vhandle
{
    border-radius: 4px;
    background-color: #555;
}

StScrollBar StButton#hhandle
{
    border-radius: 4px;
    background-color: #777;
}

StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:hover
{
    background-color: #666;
}

/* Check Boxes */

.check-box ShellGenericContainer {
    spacing: .8em;
}

.check-box StBin {
    width: 24px;
    height: 22px;
    background-image: url("checkbox-off.svg");
}

.check-box:focus StBin {
    background-image: url("checkbox-off-focused.svg");
}

.check-box:checked StBin {
    background-image: url("checkbox.svg");
}

.check-box:focus:checked StBin {
    background-image: url("checkbox-focused.svg");
}

/* PopupMenu */


.popup-menu-boxpointer {
    background-gradient-direction: vertical;
    background-gradient-start: #e0e0e0;
    background-gradient-end: #b6b6b6;
    border: 1px solid rgba(120,120,120,0.7);
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
    border-radius: 4px;
}

.popup-menu {
    color: #555;
    text-shadow: rgba(255,255,255,0.6) 0px 1px 0px;
    min-width: 200px;
}

.popup-sub-menu {
    background-color: rgba(22,22,22,0.9);
}

/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu-content {
    padding: 1em 0em;
}

.popup-menu-item {
    padding: .4em 1.75em;
    spacing: 1em;
}   

.popup-menu-item:active {
    background-gradient-direction: vertical;
    background-gradient-start: #bdd3e5;
    background-gradient-end: #8babc6;
    color: #fff;
    box-shadow: inset 0px 0px 1px 1px rgba(55,55,55,0.5);
    text-shadow: rgba(0,0,0,0.6) 0px 1px 2px;
    border-radius: 2px;
}

.popup-image-menu-item {
}

.popup-alternating-menu-item:alternate {
    font-weight: bold;
}

.popup-separator-menu-item {
    background-color: rgba(55,55,55,0.2);
    border: 1px solid rgba(255,255,255,0.5);
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    height: 0.1em;
}

.popup-slider-menu-item {
    height: 0.5em;
    min-width: 15em;
    background-color: rgba(230,230,230,0.8);
    border-radius: 2px;
    border: 1px solid rgba(255,255,255,0.5);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: #444;
    text-shadow: white 0px 1px 2px;
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.6);
    -slider-active-border-color: #3b82be;
    -slider-border-width: 4px;
    -slider-handle-radius: 0.6em;
}

.popup-device-menu-item {
    spacing: .5em;
}

.popup-menu-icon {
    icon-size: 1.14em;
}

/* Switches */
.toggle-switch {
    width: 65px;
    height: 22px;
}

.toggle-switch-us {
    background-image: url("toggle-off-us.svg");
}
.toggle-switch-us:checked {
    background-image: url("toggle-on-us.svg");
}

.toggle-switch-intl {
    background-image: url("toggle-off-intl.svg");
}
.toggle-switch-intl:checked {
    background-image: url("toggle-on-intl.svg");
}

/* Buttons */

.dash-search-button,
.notification-button,
.notification-icon-button,
.hotplug-notification-item,
.hotplug-resident-eject-button,
.modal-dialog-button {
    color: #444;
    background-gradient-direction: vertical;
    background-gradient-start: #fbfbfd;
    background-gradient-end: #e9e9e9;
    border: 1px solid rgba(44,44,44,0.4);
    border-radius: 4px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
}

.dash-search-button:hover,
.notification-button:hover,
.notification-icon-button:hover,
.hotplug-notification-item:hover,
.hotplug-resident-eject-button:hover,
.modal-dialog-button:hover {
    background-gradient-direction: vertical;
    background-gradient-start: #bdd3e5;
    background-gradient-end: #8babc6;
    border: 1px solid rgba(44,44,44,0.4);
    border-radius: 4px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
}

.dash-search-button:selected,
.dash-search-button:focus,
.notification-button:focus,
.notification-icon-button:focus,
.hotplug-notification-item:focus,
.modal-dialog-button:focus {
    background-gradient-direction: vertical;
    background-gradient-start: #fbfbfd;
    background-gradient-end: #e9e9e9;
    border: 1px solid rgba(44,44,44,0.4);
    border-radius: 4px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
}

.dash-search-button:active,
.dash-search-button:pressed,
.notification-button:active,
.notification-icon-button:active,
.hotplug-notification-item:active,
.hotplug-resident-eject-button:active,
.modal-dialog-button:active,
.modal-dialog-button:pressed {
    background-gradient-direction: vertical;
    background-gradient-start: #fbfbfd;
    background-gradient-end: #e9e9e9;
    border: 1px solid rgba(44,44,44,0.4);
    border-radius: 4px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
}


/* Panel */

#panel {
    background-gradient-direction: vertical;
    background-gradient-start: #e0e0e0;
    background-gradient-end: #b6b6b6;
    border: 1px solid rgba(99,99,99,0.8);
    border-top: 0px;
    border-radius: 0px 0px 4px 4px;
    color: #555555;
    text-shadow: rgba(255,255,255,0.6) 0px 1px 0px;
    font-size: 10.5pt; 
    box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.2); 
    height: 1.86em;
    padding-right: 11px;
}

#panelLeft, #panelCenter {
    spacing: 4px;
    border: 1px solid transparent;
}

#panelLeft {
    padding-right: 4px;
    border: 1px solid transparent;
}

#panelRight {
    padding-left: 4px;
    border: 1px solid transparent;
    
}

#appMenu {
    spacing: 4px;
    color: #555555;
    border: 1px solid transparent;
}

/* used for the app menu header only */
.label-shadow {
    color: rgba(0,0,0,0.5);
}

.panel-button #appMenuIcon {
    app-icon-bottom-clip: 1px;
}

.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon {
    app-icon-bottom-clip: 2px;
}

.app-menu-icon {
    width: 24px;
    height: 24px;
}

.panel-button {
    -natural-hpadding: 12px;
    -minimum-hpadding: 6px;
    border: 1px solid transparent;
}

.panel-button:active,
.panel-button:checked,
.panel-button:focus {
    background-gradient-direction: vertical;
    background-gradient-start: #bdd3e5;
    background-gradient-end: #8babc6;
    border: 1px solid #888;
    border-radius: 4px;
    color: #fff;
    text-shadow: rgba(0,0,0,0.6) 0px 1px 2px;
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.3);
}

.panel-button:hover {
    text-shadow: rgba(255,255,255,0.6) 0px 1px 0px;
    color: #000;  
}

.panel-menu {
    -boxpointer-gap: 2px
}

#panelUserMenu {
    spacing: 4px;
}

.status-chooser {
    spacing: .4em;
}

.status-chooser .popup-menu-item,
.status-chooser-combo .popup-menu-item {
    padding: .4em;
}

.status-chooser-user-icon {
    border: 1px solid #555;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 2px rgba(11,11,11,0.4);
    width: 48pt;
    height: 48pt;
}

.status-chooser-user-icon:hover {
    border: 1px solid #6eabec;
}

.status-chooser-user-name {
    font-weight: bold;
    font-size: 1.3em;
    min-width: 120pt;
}

.status-chooser-combo {
    border: 1px solid transparent;
}

.status-chooser-combo.popup-combo-menu {
    background-gradient-direction: vertical;
    background-gradient-start: #e0e0e0;
    background-gradient-end: #b6b6b6;
    border: 1px solid rgba(120,120,120,0.7);
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
    border-radius: 4px;
    color: #555;
    font-size: 10.5pt;
    text-shadow: rgba(255,255,255,0.6) 0px 1px 0px;
}

.status-chooser-status-item,
.status-chooser-combo .popup-combobox-item {
    spacing: .4em;
}

#statusTray > .panel-button:active,
#statusTray > .panel-button:checked,
#statusTray > .panel-button:focus {
      color: #333;

}

.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon {

}

#panelActivities {
    border-radius-topleft: 0px;
    border-radius-bottomleft: 0px;
}

#panelStatus {
    border-radius-topright: 0px;
}

#panelStatusMenu {
    spacing: 4px;
}

#legacyTray {
    spacing: 14px;
    padding-left: 14px;
}

#legacyTray:compact {
    spacing: 8px;
}

.system-status-icon {
    icon-size: 1.14em;
}

/* Overview */

#overview {
    spacing: 12px;
    background-color: rgba(222,222,222,0.4);
}

.window-caption {
    spacing: 25px;
}

.workspace-controls {
    visible-width: 32px; /* Amount visible before hovering */
}

.workspace-thumbnails-background {
    background-gradient-direction: vertical;
    background-gradient-start: #dfdfe0; 
    background-gradient-end: #b3b3b3;
    border: 2px solid rgba(33,33,33,0.2);
    border-right: 0px;
    box-shadow: inset 1px 0px 1px 1px rgba(255,255,255,0.2);
    border-radius: 6px 0px 0px 6px;
    padding: 12px;
}

.workspace-thumbnails-background:rtl {
    border-right: 1px;
    border-left: 0px;
    border-radius: 0px 9px 9px 0px;
}

.workspace-thumbnails {
    spacing: 12px;
}

.workspace-thumbnail-indicator {
    outline: 3px solid #6eabec;
}

.window-caption {
    background-gradient-direction: vertical;
    background-gradient-start: #e0e0e0;
    background-gradient-end: #b6b6b6;
    border: 1px solid rgba(88,88,88,0.6);
    box-shadow: inset 1px 0px 1px 1px rgba(255,255,255,0.2);
    border-radius: 3px;
    padding: 4px;
    color: #555;
    font-size: 9pt;
    padding: 2px 8px;
    -shell-caption-spacing: 4px;
}

.window-close {
    background-image: url("close-window.svg");
    height: 24px;
    width: 24px;
    -st-background-image-shadow: -2px 2px 6px rgba(0,0,0,0.5);
    -shell-close-overlap: 16px;
}

/* Dash */

#dash {
    padding: 6px 0px;
    background-gradient-direction: vertical;
    background-gradient-start: #dfdfe0; 
    background-gradient-end: #b3b3b3;
    border: 2px solid rgba(33,33,33,0.2);
    border-left: 0px;
    border-radius: 0px 6px 6px 0px;
    box-shadow: inset -1px 0px 1px 1px rgba(255,255,255,0.3);
}

#dash:rtl {
    border-left: 1px;
    border-right: 0px;
    border-radius: 9px 0px 0px 9px;
}

#dash:empty {
    height: 100px;
    width: 60px;
}

.dash-placeholder {
    background-image: url("dash-placeholder.svg");
    height: 27px;
}

#viewSelector {
    spacing: 16px;
}

#viewSelectorTabBar {
    padding: 16px;
}

#searchArea {
    padding: 0px 24px;
}

#searchEntry {
    padding: 4px 8px;
    border-radius: 3px;
    color: #3C3B37;
    border: 1px solid #555;
    background-color: rgba(255, 255, 255, 0.9);
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    height: 16px;
    width: 250px;
    box-shadow: 0px 0px 4px 2px rgba(33,33,33,0.2);
}

#searchEntry:focus, 
#searchEntry:hover {
    color: rgba(33,33,33,0.7);
    border: 1px solid #6C9CC4;
    background-color: rgba(255, 255, 255, 0.9);
}

.search-entry-icon {
    icon-size: 1em;
    color: #222;
}

.view-tab-title {
    color: #333;
    border: 1px solid rgba(0,0,0,0.0);
    font-weight: bold;
    padding: 0px 12px;
    height: 24px;
}

.view-tab-title:selected {
    border: 1px solid rgba(33,33,33,0.4);
    background-gradient-direction: vertical;
    background-gradient-start: #C6DAEB;
    background-gradient-end: #86A7C2;
    border-radius: 4px;
    padding: 3px;
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.2);
    color: #fff;
    height: 24px;
    padding: 0px 12px;
}

.view-tab-title:hover {
    color: #fff;
}

#searchResults {
    padding: 20px 10px 10px 10px;
    spacing: 18px;
}

#searchResultsContent {
    padding-right: 20px;
    spacing: 36px;
}

#searchResultsContent:rtl {
    padding-right: 0px;
    padding-left: 20px;
}

.search-statustext,
.search-section-header {
    background-gradient-direction: vertical;
    background-gradient-start: #e0e0e0;
    background-gradient-end: #e0e0e0;
    border: 1px solid rgba(88,88,88,0.6);
    border-bottom: 0px;
    box-shadow: inset 0px 1px 1px 1px rgba(255,255,255,0.2);
    border-radius: 3px 3px 0px 0px;
    padding: 4px 12px;
    spacing: 4px;
    color: #555;
    text-shadow: rgba(255,255,255,0.6) 0px 1px 0px;
    font-size: .9em;
    font-weight: bold;
}

.search-section-results {
    background-gradient-direction: vertical;
    background-gradient-start: #e0e0e0;
    background-gradient-end: #b6b6b6;
    border: 1px solid rgba(88,88,88,0.3);
    box-shadow: inset 0px 1px 1px 1px rgba(255,255,255,0.2);
    border-radius: 0px 0px 4px 4px;
    color: #555;
    padding: 6px;
}

.search-section-list-results {
    spacing: 4px;
}

.results-container {
    spacing: 4px;
}

.search-providers-box {
    spacing: 12px;
}

.dash-search-button {
    background-gradient-direction: vertical;
    background-gradient-start: #fbfbfd;
    background-gradient-end: #e9e9e9;
    border: 1px solid rgba(44,44,44,0.4);
    border-radius: 4px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
    border-radius: 4px;
    width: 150px;
    padding-top: 4px;
    padding-bottom: 5px;

}

.dash-search-button:selected {
    background-gradient-direction: vertical;
    background-gradient-start: #fff;
    background-gradient-end: #ddd;
    border: 1px solid rgba(44,44,44,0.4);
    border-radius: 4px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
    padding-top: 4px;
    padding-bottom: 5px;
    width: 150px;
}

.dash-label {
    color: #555;
    font-size: 9pt;
    padding: 4px 12px;
    background-gradient-direction: vertical;
    background-gradient-start: #dfdfe0; 
    background-gradient-end: #b3b3b3;
    border: 1px solid #888;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
    border-radius: 4px;
    text-align: center;
    -x-offset: 8px;
}

/* Apps */

.icon-grid {
     spacing: 58px;
    -shell-grid-horizontal-item-size: 118px;
    -shell-grid-vertical-item-size: 118px;
}

.icon-grid .overview-icon {
    icon-size: 96px;
}

.all-app {
    padding: 16px 25px 16px 16px;
    spacing: 20px;
}

.contact {
    width: 272px; /* Same width as two normal results + spacing */
    height: 118px; /* Aspect ratio = 1.75. Normal US business card ratio */
    border-radius: 4px;
    padding: 3px;
    border: 1px rgba(0,0,0,0);
    transition-duration: 100;
}

.contact-grid {
    spacing: 36px;
    -shell-grid-horizontal-item-size: 272px; /* 2 * -shell-grid-horizontal-item-size + spacing */
    -shell-grid-vertical-item-size: 118px;
}

.contact-content {
    border-radius: 2px;
    padding: 8px;
    width: 232px;
    height: 84px;
    background-color: transparent;
    color: #222;
    text-align: center;
}

.contact-icon {
  border-radius: 4px;
}

.contact-details {
  padding: 6px 8px 11px 8px;
}

.contact-details-alias {
  font-size: 14px;
  padding-bottom: 11px;
}

.contact-details-status {
  font-size: 11pt;
}

.contact-details-status-icon {
  padding-right: 2px;
}

.contact:hover {
    border: 1px solid rgba(33,33,33,0.4);
    background-gradient-direction: vertical;
    background-gradient-start: #C6DAEB;
    background-gradient-end: #86A7C2;
    border-radius: 4px;
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.2);
    color: #fff;
}

.app-filter {
    border: 1px solid rgba(33,33,33,0.0);
    height: 40px;
    color: #222;
    width: 200px;
    padding-left: 8px;
    padding: 3px;
}

.app-filter:hover {
    border: 1px solid rgba(33,33,33,0.4);
    background-gradient-direction: vertical;
    background-gradient-start: #C6DAEB;
    background-gradient-end: #86A7C2;
    border-radius: 4px;
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.2);
    color: #fff;
    padding-left: 8px;
    padding: 3px;
}

.app-filter:selected {
    border: 1px solid rgba(33,33,33,0.4);
    background-gradient-direction: vertical;
    background-gradient-start: #C6DAEB;
    background-gradient-end: #86A7C2;
    border-radius: 4px;
    padding: 3px;
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.2);
    color: #fff;
}

.dash-item-container > .app-well-app {
    padding: 4px 8px;
}

.remove-favorite-icon {
    color: #a0a0a0;
}

.remove-favorite-icon:hover {
    color: white;
    icon-shadow: black 0px 2px 2px;
}

.app-well-app > .overview-icon,
.remove-favorite > .overview-icon,
.search-result-content > .overview-icon {
    color: #222;
    padding: 4px;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
}

.app-well-app.running > .overview-icon {
    border: 1px solid rgba(33,33,33,0.4);
    background-gradient-direction: vertical;
    background-gradient-start: #C6DAEB;
    background-gradient-end: #86A7C2;
    border-radius: 4px;
    padding: 3px;
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.4);
    color: #222;
}

.app-well-app:selected > .overview-icon,
.search-result-content:selected > .overview-icon {
    padding: 4px;
}

.app-well-app:hover > .overview-icon,
.remove-favorite:hover > .overview-icon,
.search-result-content:hover > .overview-icon {
    border: 1px solid rgba(33,33,33,0.4);
    background-gradient-direction: vertical;
    background-gradient-start: #E5F0F9;
    background-gradient-end: #86A7C2;
    border-radius: 4px;
    padding: 3px;
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.4);
}

.app-well-app:active > .overview-icon {
    border-radius: 4px;
}

.app-well-menu {
    font-size: 9pt;
}

/* LookingGlass */

#LookingGlassDialog
{
  background-color: rgba(0,0,0,0.85);
  spacing: 4px;
  padding: 4px;
  border: 2px solid grey;
  border-radius: 4px;

  color: #88ff66;
}

#LookingGlassDialog > #Toolbar
{
  border: 1px solid grey;
  border-radius: 4px;
}

#LookingGlassDialog .labels {
  spacing: 4px;
}

#LookingGlassDialog .notebook-tab {
  padding: 2px;
}

#LookingGlassDialog .notebook-tab:hover {
  color: #00ff00;
}

#LookingGlassDialog .notebook-tab:selected {
  border: 1px solid #88ff66;
  border-radius: 4px;
  padding: 5px;
}

#LookingGlassDialog .lg-inspector-title {
    font-weight: bold;
    padding-bottom: 8px;
}

.lg-dialog StLabel
{
  color: #88ff66;
}

.lg-dialog StEntry
{
  color: #88ff66;
}

.lg-obj-inspector-title
{
  spacing: 4px;
}

.lg-obj-inspector-button
{
  border: 1px solid #88ff66;
  padding: 4px;
  border-radius: 4px;
}

.lg-obj-inspector-button:hover
{
  border: 1px solid #00ff00;
}

.lg-dialog .shell-link
{
  color: #88ff66;
}

.lg-dialog .shell-link:hover
{
  color: #00ff00;
}

#LookingGlassDialog StBoxLayout#EvalBox
{
  padding: 4px;
  spacing: 4px;
}

#LookingGlassDialog StBoxLayout#ResultsArea
{
  spacing: 4px;
}

#lookingGlassExtensions {
    padding: 4px;
}

.lg-extension-list {
    padding: 4px;
    spacing: 6px;
}

.lg-extension {
    border: 1px solid #6f6f6f;
    border-radius: 4px;
    padding: 4px;
}

.lg-extension-name {
    font-weight: bold;
}

.lg-extension-actions {
    spacing: 6px;
}

#LookingGlassPropertyInspector {
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid grey;
    border-radius: 4px;
    padding: 6px;
    color: #88ff66;
}

/* Calendar popup */

#calendarArea {
    /* this is the width of the entire popup */
    width: 600px;
}

.calendar-vertical-separator {
    background-color: rgba(99,99,99,0.2);
    border: 1px solid rgba(255,255,255,0.4);
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
    width: 0.1em;
}

#calendarPopup {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0px 0px 8px 8px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: #555; 
}

#calendarPopup .calendar {
    padding: 10px;
}

.calendar {
    padding: .4em 1.75em;
    spacing-rows: 0px;
    spacing-columns: 0px;
}

.calendar-month-label {
    color: #555;
    font-size: 8.5pt;
    padding: 2px;
}

.calendar-change-month-back {
    width: 20px;
    height: 20px;
    background-image: url("calendar-arrow-left.svg");
    border-radius: 3px;
}
.calendar-change-month-back:hover {
   background-color: #bdd3e5;
    box-shadow: inset 0px 0px 1px 1px rgba(55,55,55,0.3);
}
.calendar-change-month-back:active {
    background-color: #bdd3e5;
    box-shadow: inset 0px 0px 1px 1px rgba(55,55,55,0.3);
}

.calendar-change-month-forward {
    width: 20px;
    height: 20px;
    background-image: url("calendar-arrow-right.svg");
    border-radius: 4px;
}
.calendar-change-month-forward:hover {
    background-color: #bdd3e5;
    box-shadow: inset 0px 0px 1px 1px rgba(55,55,55,0.3);
}
.calendar-change-month-forward:active {
    background-color: #bdd3e5;
    box-shadow: inset 0px 0px 1px 1px rgba(55,55,55,0.3);
}

.datemenu-date-label {
    padding: .4em 1.75em;
    font-size: 9.5pt;
    color: #555;
    text-shadow: rgba(255,255,255,0.6) 0px 1px 0px;
}

.calendar-day-base {
    font-size: 7.5pt;
    text-align: center;
    width: 2.4em;
    height: 2.4em;
}

.calendar-day-base:hover {
    background-gradient-direction: vertical;
    background-gradient-start: #bdd3e5;
    background-gradient-end: #8babc6;
    box-shadow: inset 0px 0px 1px 1px rgba(55,55,55,0.3);
    color: #fff;
}

.calendar-day-base:active {
    background-gradient-direction: vertical;
    background-gradient-start: #bdd3e5;
    background-gradient-end: #8babc6;
    box-shadow: inset 0px 0px 1px 1px rgba(55,55,55,0.3);
    color: #fff;
}

.calendar-day-heading {
    color: #555;
    padding-top: 1em;
}

.calendar-week-number {
    color: #999;
    font-weight: bold;
}

/* Hack used in lieu of border-collapse - see calendar.js */
.calendar-day {
    color: #333;
    border-top-width: 0;
    border-left-width: 0;
    border-radius: 4px;
}
.calendar-day-top {
    border-top-width: 1px;
}
.calendar-day-left {
    border-left-width: 1px;
}

.calendar-work-day {
}

.calendar-nonwork-day {
}

.calendar-today {
    font-weight: bold;
    background-gradient-direction: vertical;
    background-gradient-start: #bdd3e5;
    background-gradient-end: #8babc6;
    box-shadow: inset 0px 0px 1px 1px rgba(55,55,55,0.4);
    color: #fff;
}

.calendar-other-month-day {
    color: #999;
}

.calendar-day-with-events {
    font-weight: bold;
}

.events-header-vbox {
    spacing: 10px;
    padding-right: 1.75em;
}

.events-header {
    height: 40px;
}

.events-header-hbox {
    spacing: 8px;
    padding: 0.3em;
}

.events-day-header {
    font-size: 9pt;
    color: #555;
    padding-left: 1.8em;
    padding-top: 0.8em;
}

.events-day-dayname {
    font-size: 12px;
    color: #555;
    text-align: left;
}

.events-day-time {
    font-size: 9pt;
    font-weight: bold;
    color: #fff;
    text-shadow: rgba(0,0,0,0.6) 0px 1px 2px;
    text-align: right;
}

.events-day-task {
    font-size: 9pt;
    color: #555;
}

.events-day-name-box {
    min-width: 15pt;
}

.events-time-box {
    min-width: 53pt;
    padding-right: 6pt;
}

.events-event-box {
}

.url-highlighter {
    link-color: #fff;
}

/* Message Tray */
#message-tray {
    background-gradient-direction: vertical;
    background-gradient-start: #f1f1f1;
    background-gradient-end: #b3b3b3;
    border: 1px solid rgba(66,66,66,0.6);
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px 0px 3px 2px rgba(11,11,11,0.3);
    color: #444; 
    border-bottom: 0px;
    height: 36px;
}

#notification {
    background-color: #e0e0e0;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
    font-size: 10pt;
    font-weight: bold;
    border-bottom: 0px;
    border-radius: 4px;
    color: #555;
    text-shadow: rgba(255,255,255,0.6) 0px 1px 0px;
    padding: 8px 8px 4px 8px;
    spacing-rows: 10px;
    spacing-columns: 10px;
    width: 34em;
}

#notification.multi-line-notification {
    padding-bottom: 8px;
}

.notification-with-image {
    min-height: 159px;
}

.summary-boxpointer {
    background-gradient-direction: vertical;
    background-gradient-start: #e0e0e0;
    background-gradient-end: #b6b6b6;
    border: 1px solid rgba(120,120,120,0.7);
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
    border-radius: 4px;
}

.summary-boxpointer #notification {
    border-radius: 4px;
    background: rgba(22,22,22,0.0) !important;
    padding-bottom: 12px;
    color: #555;
}

.summary-boxpointer #summary-right-click-menu {
    font-size: 9.5pt;
    padding: 4px;
    color: #555;
    text-shadow: rgba(255,255,255,0.6) 0px 1px 0px
}

#notification-scrollview {
    max-height: 10em;
}

#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
    height: 1em;
}

#notification-scrollview > StScrollBar {
    padding-left: 6px;
}

#notification-body {
    spacing: 5px;
}

#notification-actions {
    spacing: 5px;
}

.notification-button {
    background-gradient-direction: vertical;
    background-gradient-start: #fbfbfd;
    background-gradient-end: #e9e9e9;
    border: 1px solid rgba(44,44,44,0.4);
    border-radius: 3px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
    font-weight: normal;
    padding: 2px 14px;
}

.notification-button:focus {
    background-gradient-direction: vertical;
    background-gradient-start: #fff;
    background-gradient-end: #e9e9e9;
    border: 1px solid rgba(44,44,44,0.4);
    border-radius: 4px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);;
}

.notification-icon-button {
    padding: 5px;
}

.notification-icon-button:focus {
   background-color: #3b82be;
   border-radius: 4px;
}

.notification-icon-button > StIcon {
    icon-size: 32px;
}

.hotplug-transient-box {
    spacing: 6px;
    padding: 2px 72px 2px 12px;
}

.hotplug-notification-item {
    padding: 2px 10px;
    border-radius: 18px;
    font-size: 10.5pt;
}

.hotplug-notification-item:focus {
    padding: 1px 71px 1px 11px;
}

.hotplug-notification-item-icon {
    icon-size: 24px;
    padding: 2px 5px;
}

.hotplug-resident-box {
    spacing: 8px;
}

.hotplug-resident-mount {
    spacing: 8px;
    border-radius: 4px;

    color: #555;
}

.hotplug-resident-mount:hover {
    background-gradient-direction: vertical;
    background-gradient-start: #bdd3e5;
    background-gradient-end: #8babc6;
    box-shadow: inset 0px 0px 1px 1px rgba(55,55,55,0.5);
    text-shadow: rgba(33,33,33,0.8) 0px 1px 1px;
    border-radius: 2px;

    color: #fff;
}

.hotplug-resident-mount-label {
    color: inherit;
    padding-left: 6px;
}

.hotplug-resident-mount-icon {
    icon-size: 24px;
    padding-left: 6px;
}

.hotplug-resident-eject-icon {
    icon-size: 16px;
}

.hotplug-resident-eject-button {
    padding: 7px;
    border-radius: 5px;
    color: #555;
}

.chat-log-message {
    color: #444;
}

.chat-group-sent, .chat-group-meta {
    padding: 8px 0;
}

.chat-received {
    color: #555;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    background-color: rgba(33,33,33,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    font-size: 10pt;
    padding: 4px;
    padding-left: 4px;
}

.chat-sent {
    color: #222;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    background-color: rgba(88,88,88,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    font-size: 10pt;
    padding: 4px;
    padding-left: 4px;
}

.chat-meta-message {
    padding-left: 4px;
    font-size: 8.0pt;
    color: #666;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
}

.subscription-message {
    font-style: italic;
}

#notification StEntry {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #888;
    color: #111;
    background-color: #fff;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.4);
    caret-color: #333;
    caret-size: 1px;
}

#notification StEntry:focus {
    border: 1px solid #888;
    color: #111;
    background-color: #fff;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.4);
    caret-color: #545454;
}

/* The spacing and padding on the summary is tricky; we want to keep
 * the icons from touching each other or the edges of the screen, but
 * we also want them to be "Fitts"-y with respect to the edges, so the
 * summary area's bottom and right padding must actually be part of
 * the icons. However, we can't put *all* of the padding into the
 * icons, because then the summary would be 0x0 when there were no
 * icons in it, and so you wouldn't be able to hover over it to
 * activate it.
 *
 * Also, the spacing between a summary-source's icon and title is
 * actually specified as padding-left in source-title, because we
 * want the spacing to collapse along with the title.
 */
#summary-mode {
    padding: 2px 0px 0px 4px;
    height: 36px;
}

.summary-source {
    color: #555;
    text-shadow: rgba(255,255,255,0.6) 0px 1px 0px;
}

.summary-source-button {
    padding-left: 3px;
    padding-right: 3px;
}

.summary-source-button:selected .summary-source {
    background-gradient-direction: vertical;
    background-gradient-start: #bdd3e5;
    background-gradient-end: #8babc6;
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.2);
    color: #fff;
    text-shadow: rgba(11,11,11,0.6) 0px 1px 2px;
}

.summary-source-button:expanded:selected {
    background-gradient-direction: vertical;
    background-gradient-start: #bdd3e5;
    background-gradient-end: #8babc6;
    border: 1px solid rgba(55,55,55,0.5);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.2);
}

.summary-source-button:expanded:selected .summary-source {
    background-image: none;
    border-image: none;
}

.summary-source-button:last-child {
    padding-right: 12px;
}

.source-title {
    font-size: 9pt;
    font-weight: bold;
    padding-left: 4px;
}

.summary-source-counter {
    color: #444;
    background-color: #e0e0e0;
    font-size: 9pt;
    border-radius: 1em;
    min-height: 1em;
    min-width: 1em;
}

.calendar-calendarweek {
    color: #666;
}

/* App Switcher */
#altTabPopup {
    padding: 8px;
    spacing: 16px;
}

.switcher-list {
    border: 1px solid rgba(0,0,0,0.2);
    background: rgba(214,214,214,1.0);
    border-radius: 4px;
    padding: 20px;
    font-size: 9pt;
    color: rgba(44,44,44,0.8);
    box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.6);
}

.switcher-list-item-container {
    spacing: 8px;
}

.thumbnail-scroll-gradient-left {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(51, 51, 51, 1.0);
    background-gradient-end: rgba(51, 51, 51, 0);
    border-radius: 24px;
    border-radius-topright: 0px;
    border-radius-bottomright: 0px;
    width: 60px;
}

.thumbnail-scroll-gradient-right {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(51, 51, 51, 0);
    background-gradient-end: rgba(51, 51, 51, 1.0);
    border-radius: 24px;
    border-radius-topleft: 0px;
    border-radius-bottomleft: 0px;
    width: 60px;
}

.switcher-list .item-box {
    padding: 8px;
    border-radius: 8px;
}

.switcher-list .item-box:outlined {
    background-gradient-direction: vertical;
    background-gradient-start: #C6DAEB;
    background-gradient-end: #86A7C2;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid rgba(255,255,255,0.8);
    color: rgba(255,255,255,0.7);
    -st-shadow: 0px 0px 2px 1px rgba(33,33,33,0.4);
}

.switcher-list .item-box:selected {
    background-gradient-direction: vertical;
    background-gradient-start: #C6DAEB;
    background-gradient-end: #86A7C2;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid rgba(0,0,0,0.2);
    color: rgba(255,255,255,0.7);
    -st-shadow: 0px 0px 2px 1px rgba(33,33,33,0.4);
}

.switcher-list .thumbnail-box {
    padding: 2px;
    spacing: 4px;
}

.switcher-list .thumbnail {
    width:  256px;
}

.switcher-list .separator {
    width: 1px;
    background: rgba(44,44,44,0.33);
}

.ripple-box {
    width: 52px;
    height: 52px;
    background-image: url("corner-ripple.png");
}

.switcher-arrow {
    border-color: rgba(0,0,0,0);
    color: #808080;
}

.switcher-arrow:highlighted {
    border-color: rgba(0,0,0,0);
    color: white;
}

/* Workspace Switcher */
.workspace-switcher-group {
    padding: 12px;
}

.workspace-switcher-container {
    border: 1px solid rgba(0,0,0,0.2);
    background: rgba(214,214,214,1.0);
    border-radius: 4px;
    box-shadow: 0px 0px 6px 3px rgba(33,33,33,0.4);
    padding: 20px;
}

.workspace-switcher {
    background: rgba(44,44,44,0.5);
    border-radius: 4px;
    padding: 4px;
    spacing: 8px;
}

.ws-switcher-active-up {
    height: 100px;
    background-color: #C6DAEB;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid rgba(0,0,0,0.2);
    color: rgba(255,255,255,0.7);
    box-shadow: 0px 0px 2px 1px rgba(33,33,33,0.4);
    background-image: url("ws-switch-arrow-up.svg");
    border-radius: 4px;
}

.ws-switcher-active-down {
    height: 100px;
    background-color: #C6DAEB;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid rgba(0,0,0,0.2);
    color: rgba(255,255,255,0.7);
    -st-shadow: 0px 0px 2px 1px rgba(33,33,33,0.4);
    background-image: url("ws-switch-arrow-down.svg");
    border-radius: 4px;
}

.ws-switcher-box {
    height: 96px;
    background: transparent;
    border-radius: 4px;
}

/* Modal Dialogs */
.modal-dialog {
    font-size: 10pt;
    border-radius: 4px;
    background-gradient-direction: vertical;
    background-gradient-start: #f1f1f1;
    background-gradient-end: #cdcdcd;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.4);
    color: #333;

    padding-right: 42px;
    padding-left: 42px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.modal-dialog-button {
    background-gradient-direction: vertical;
    background-gradient-start: #fbfbfd;
    background-gradient-end: #e9e9e9;
    border: 1px solid rgba(44,44,44,0.4);
    border-radius: 4px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
    text-shadow: rgba(255,255,255,0.6) 0px 1px 0px;
    color: #222;
    font-size: 9.5pt;

    margin-left: 10px;
    margin-right: 10px;

    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.modal-dialog-button:active,
.modal-dialog-button:pressed {
    background-gradient-direction: vertical;
    background-gradient-start: #9f9f9f;
    background-gradient-end: #c1c1c1;
    border: 1px solid rgba(44,44,44,0.4);
    border-radius: 4px;
    color: #333;
    text-shadow: rgba(255,255,255,0.6) 0px 1px 0px;
}

.modal-dialog-button:focus {
    background-gradient-direction: vertical;
    background-gradient-start: #fff;
    background-gradient-end: #e9e9e9;
    border: 1px solid rgba(44,44,44,0.4);
    border-radius: 4px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
    color: #222;
    text-shadow: rgba(255,255,255,0.6) 0px 1px 0px;

    padding-left: 31px;
    padding-right: 31px;
    padding-top: 7px;
    padding-bottom: 7px;
}

/* Run Dialog */
.run-dialog-label {
    font-size: 9.5pt;
    color: #444;
    text-shadow: rgba(255,255,255,0.6) 0px 1px 0px;
    padding: 6px;
}

.run-dialog-error-icon {
    background-image: url("dialog-error.svg");
    width: 36px;
    height: 36px;
}

.run-dialog-error-label {
    font-size: 9pt;
    color: #000;
}

.run-dialog-entry {
    font-size: 10.5pt;
    width: 320px;
    color: #000;
    background: rgba(255,255,255,1.0);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.2);
    padding: 4px;
}

.run-dialog {
    padding: 8px;
    border-radius: 4px;
    background-gradient-direction: vertical;
    background-gradient-start: #f1f1f1;
    background-gradient-end: #cdcdcd;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.4);
}

.lightbox {
    background-color: rgba(160,160,160,0.0);
}

/* End Session Dialog */
.end-session-dialog {
    spacing: 42px;
}

.end-session-dialog-subject {
    font-size: 10pt;
    font-weight: bold;
    color: #333;
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 30px;
}

.end-session-dialog-subject:rtl {
    padding-left: 0px;
    padding-right: 17px;
}

.end-session-dialog-description {
    font-size: 9pt;
    color: #333;
    padding-left: 17px
    padding-top: 28px;
    width: 28em;
}

.end-session-dialog-logout-icon {
    border: 2px solid #444;
    box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.5);
    border-radius: 3px;
    width: 48px;
    height: 48px;
}

.end-session-dialog-shutdown-icon {
    width: 32px;
    height: 32px;
}

.end-session-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 42px;
    padding-bottom: 42px;
    padding-left: 17px;
    padding-right: 32px;
}

.end-session-dialog-app-list-item {
    padding-right: 1em;
}

.end-session-dialog-app-list-item-icon {
    padding-right: 17px;
}

.end-session-dialog-app-list-item-name {
    font-size: 10pt;
}

.end-session-dialog-app-list-item-description {
    font-size: 8pt;
    color: #444444;
}

/* ShellMountOperation Dialogs */
.shell-mount-operation-icon {
    icon-size: 48px;
}

.mount-password-reask {
    color: red;
}

.show-processes-dialog,
.mount-question-dialog {
    spacing: 24px;
}

.show-processes-dialog-subject,
.mount-question-dialog-subject {
    font-size: 12pt;
    font-weight: bold;
    color: #555;
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 6px;
}

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
    padding-left: 0px;
    padding-right: 17px;
}

.show-processes-dialog-description,
.mount-question-dialog-description {
    font-size: 10pt;
    color: #555;
    padding-left: 17px;
    width: 28em;
}

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
    padding-right: 17px;
}

.show-processes-dialog-app-list {
    font-size: 9pt;
    max-height: 200px;
    padding-top: 24px;
    padding-left: 49px;
    padding-right: 32px;
}

.show-processes-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.show-processes-dialog-app-list-item {
    color: #444;
}

.show-processes-dialog-app-list-item:hover {
    color: #333;
}

.show-processes-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.show-processes-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.show-processes-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.show-processes-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.show-processes-dialog-app-list-item-name {
    font-size: 9pt;
}

/* PolicyKit Authentication Dialog */
.prompt-dialog {
    /* this is the width of the entire modal popup */
    width: 500px;
}

.prompt-dialog-main-layout {
    spacing: 24px;
    padding: 10px;
}

.prompt-dialog-message-layout {
    spacing: 16px;
}

.prompt-dialog-headline {
    font-size: 10pt;
    color: 333;
}


.polkit-dialog-user-root-label {
    color: #6eabec;
    font-weight: bold;
}

.polkit-dialog-password-label:ltr {
    padding-right: 0.5em;
}

.polkit-dialog-password-label:rtl {
    padding-left: 0.5em;
}

.prompt-dialog-password-entry {
    padding: 4px;
    border-radius: 3px;
    color: #222;
    border: 1px solid rgba(255,255,255,0.6);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.4);
}

.prompt-dialog-password-entry .capslock-warning {
    icon-size: 16px;
    warning-color: #999;
    padding: 0 4px;
}

.prompt-dialog-error-label {
    font-size: 10pt;
    font-weight: bold;
    color: #6eabec;
    padding-bottom: 8px;
}

.prompt-dialog-info-label {
    font-size: 10pt;
    padding-bottom: 8px;
}

/* intentionally left transparent to avoid dialog changing size */
.prompt-dialog-null-label {
    font-size: 10pt;
    color: rgba(0,0,0,0);
    padding-bottom: 8px;
}

.polkit-dialog-user-layout {
    padding-left: 10px;
    spacing: 10px;
}

.polkit-dialog-user-layout:rtl {
    padding-left: 0px;
    padding-right: 10px;
}

.polkit-dialog-user-root-label {
    color: #ff0000;
}

/* Magnifier */

.magnifier-zoom-region {
    border: 2px solid rgba(128, 0, 0, 255);
}

.magnifier-zoom-region.full-screen {
    border-width: 0px;
}

/* On-screen Keyboard */

#keyboard {
    background-gradient-direction: vertical;
    background-gradient-start: #e0e0e0;
    background-gradient-end: #b6b6b6;
    border: 1px solid rgba(120,120,120,0.7);
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
    border-radius: 4px;
}

.keyboard-layout {
    spacing: 10px;
    padding: 10px;
}

.keyboard-row {
    spacing: 15px;
}

.keyboard-key {
    min-height: 30px;
    min-width: 30px;
    background-gradient-direction: vertical;
    background-gradient-start: #e0e0e0;
    background-gradient-end: #b6b6b6;
    border: 1px solid rgba(120,120,120,0.7);
    box-shadow: 0px 0px 2px 2px rgba(22,22,22,0.1);
    font-size: 12pt;
    font-weight: bold;
    border-radius: 4px;
    color: #555;
}

.keyboard-key:grayed {
   background-gradient-direction: vertical;
    background-gradient-start: #e0e0e0;
    background-gradient-end: #b6b6b6;
    border: 1px solid rgba(120,120,120,0.7);
    box-shadow: 0px 0px 2px 2px rgba(22,22,22,0.1);
    color: #888
}

.keyboard-key:checked,
.keyboard-key:hover {
    border: 1px solid rgba(33,33,33,0.4);
    background-gradient-direction: vertical;
    background-gradient-start: #E5F0F9;
    background-gradient-end: #86A7C2;
    border-radius: 4px;
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.4);
    color: #fff;
}

.keyboard-key:active {
    background-gradient-direction: vertical;
    background-gradient-start: #e0e0e0;
    background-gradient-end: #b6b6b6;
    border: 1px solid rgba(120,120,120,0.9);
    box-shadow: inset 0px 0px 2px 2px rgba(22,22,22,0.2);
}

.keyboard-subkeys {
    color: #555;
    padding: 5px;
    -arrow-border-radius: 4px;
    -arrow-background-color: #b6b6b6;
    -arrow-border-width: 1px;
    -arrow-border-color: rgba(120,120,120,0.7);
    -arrow-base: 20px;
    -arrow-rise: 10px;
    -boxpointer-gap: 5px;
}
