/* default */
* {
    -GtkArrow-arrow-scaling: 0.6;
    -GtkButton-child-displacement-x: 0;
    -GtkButton-child-displacement-y: 0;
    -GtkButton-default-border: 0;
    -GtkButton-image-spacing: 0;
    -GtkButton-interior-focus: true;
    -GtkButton-inner-border: 1;
    -GtkCheckButton-indicator-size: 16;
    -GtkCheckMenuItem-indicator-size: 14;
    -GtkEntry-inner-border: 1;
    -GtkEntry-progress-border: 0;
    -GtkExpander-expander-size: 8;
    -GtkHTML-link-color: @link_color;
    -GtkIMHtml-hyperlink-color: @link_color;
    -GtkMenu-horizontal-padding: 0;
    -GtkMenu-vertical-padding: 0;  
    -GtkMenuBar-internal-padding: 0;
    -GtkMenuItem-arrow-scaling: 0.5;
    -GtkNotebook-tab-overlap: 5;
    -GtkPaned-handle-size: 1;
    -GtkProgressBar-min-horizontal-bar-height: 14;
    -GtkProgressBar-min-vertical-bar-width: 14;
    -GtkRange-trough-border: 0;
    -GtkRange-slider-width: 12;
    -GtkRange-stepper-size: 0;
    -GtkRange-trough-under-steppers: 1;
    -GtkRange-stepper-spacing: 0;
    -GtkScale-trough-border: 0;
    -GtkScrollbar-activate-slider: 1;
    -GtkScrollbar-trough-border: 0;
    -GtkScrollbar-slider-width: 12;
    -GtkScrollbar-min-slider-length: 30;
    -GtkScrolledWindow-scrollbar-spacing: 0;
    -GtkScrolledWindow-scrollbars-within-bevel: 1;
    -GtkSeparatorMenuItem-horizontal-padding: 0;
    -GtkStatusbar-shadow-type: none;
    -GtkTextView-error-underline-color: @error_color;
    -GtkToolButton-icon-spacing: 6;
    -GtkToolItemGroup-expander-size: 11;
    -GtkToolbar-internal-padding: 0;
    -GtkTreeView-expander-size: 8;
    -GtkTreeView-vertical-separator: 0;
    -GtkWidget-wide-separators: true;
    -GtkWidget-separator-width: 2;
    -GtkWidget-separator-height: 2;
    -GtkWidget-focus-padding: 0;
    -GtkWidget-focus-line-width: 1;
    -GtkWidget-link-color: @link_color;
    -GtkWidget-visited-link-color: @link_color;
    -GtkWindow-resize-grip-default: false;
    -GtkWindow-resize-grip-width: 0;
    -GtkWindow-resize-grip-height: 0;
    -WnckTasklist-fade-overlay-rect: 0;

    border-width: 1px;

    engine: unico;

    -unico-focus-border-color: alpha (@theme_selected_bg_color, 0.5);
    -unico-focus-border-radius: 2;
    -unico-focus-fill-color: alpha (@theme_selected_bg_color, 0.1);
    -unico-focus-outer-stroke-color: transparent;

    -unico-inner-stroke-color: shade (@theme_bg_color, 1.1);
    -unico-inner-stroke-width: 0;
}

GtkWindow {
    color: @theme_fg_color;
}

* {
    /* inherit the color from parent by default */
    color: inherit;
    background-color: @theme_bg_color;
}

/**********
 * states *
 **********/
*:insensitive {
    color: shade (@theme_bg_color, 0.6);
    text-shadow: 0 1 alpha (shade (@theme_bg_color, 1.2), 0.5);
}

*:active {
    background-color: shade (@theme_bg_color, 0.9);
}

*:active:hover:insensitive {
}

*:active:insensitive {
}

*:hover {
}

*:hover:insensitive {
}

*:selected,
*:selected:focus {
    background-color: alpha (@theme_selected_bg_color, 0.9);
    color: @theme_selected_fg_color;
}

*:selected:backdrop,
*:selected:focus:backdrop {
	background-color: @backdrop_selected_bg_color;
	color: @backdrop_selected_fg_color;
}

/******************
 * common effects *
 ******************/
/* border and inner stroke */
.button,
.frame,
.notebook {
    border-style: solid;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_bg_color, 0.8)),
                                           to (shade (@theme_bg_color, 0.76)));
}

.frame,
.notebook {
    -unico-inner-stroke-color: alpha (shade (@theme_bg_color, 1.26), 0.2);
    -unico-inner-stroke-gradient: none;
    -unico-inner-stroke-width: 1;
}

.button:insensitive,
.frame:insensitive,
.notebook:insensitive {
    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_bg_color, 0.8)),
                                           to (shade (@theme_bg_color, 0.8)));
}

/* inset */
GtkComboBox.combobox-entry .button,
.button:active,
.button:insensitive,
.check,
.entry,
.radio {
    -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (shade (@theme_bg_color, 0.85), 0.2)),
                                                 to (alpha (shade (@theme_bg_color, 1.25), 0.6)));
    -unico-outer-stroke-width: 1;
}

/* shadow */
.button,
.check:active,
.frame,
.notebook .button,
.notebook,
.radio:active {
    -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (@theme_bg_color, 0.00)),
                                                 to (alpha (shade (@theme_bg_color, 1.25), 0.5)));
    -unico-outer-stroke-width: 1;
}

/*
.button:hover,
.notebook .button:hover {
    -unico-outer-stroke-color: transparent;
    -unico-outer-stroke-gradient: none;
    -unico-outer-stroke-width: 1;
}

*/
/*************
 * assistant *
 *************/
GtkAssistant .sidebar .highlight {
    font: bold;
}

GtkAssistant .sidebar {
    background-color: shade (@theme_bg_color, 0.97);
    border-right-color: shade (@theme_bg_color, 0.8);
    border-radius: 0;
    border-style: solid;
    border-width: 0 1px 0 0;
    padding: 12px;

    color: @theme_fg_color;

    -unico-border-gradient: none;
    -unico-inner-stroke-right-color: shade (@theme_bg_color, 0.94);
    -unico-inner-stroke-width: 0 1 0 0;
    -unico-outer-stroke-width: 0;
}

/**************
 * background *
 **************/
.background {
    background-color: @theme_bg_color;
    border-width: 0;
}

/**********
 * button *
 **********/
.button {
    padding: 3px;

    -unico-focus-border-color: alpha (@theme_selected_bg_color, 0.6);
    -unico-focus-fill-color: transparent;
    -unico-focus-outer-stroke-color: alpha (@theme_selected_bg_color, 0.3);
}

GtkComboBox,
.button {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@button_bg_color, 1.1)),
                                     to (shade (@button_bg_color, 0.9)));
    border-radius: 2px;
    border-style: solid;

    color: @theme_fg_color;

    transition: 100ms ease-in-out;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@button_bg_color, 0.85)),
                                           to (shade (@button_bg_color, 0.67)));
    -unico-glow-color: shade (@button_bg_color, 1.14);
    -unico-glow-radius: 6;
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@button_bg_color, 1.16)),
                                                 to (shade (@button_bg_color, 1.015)));
    -unico-inner-stroke-width: 1;
}

.button:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@button_bg_color, 1.16)),
                                     to (shade (@button_bg_color, 0.95)));

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@button_bg_color, 0.89)),
                                           to (shade (@button_bg_color, 0.7)));
    -unico-glow-color: shade (@button_bg_color, 1.18);
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@button_bg_color, 1.2)),
                                                 to (shade (@button_bg_color, 1.06)));
}

.button:active {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@button_bg_color, 0.9)),
                                     to (shade (@button_bg_color, 0.95)));

    -unico-focus-outer-stroke: transparent;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@button_bg_color, 0.6)),
                                           to (shade (@button_bg_color, 0.7)));
    -unico-glow-radius: 0;
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@button_bg_color, 0.84)),
                                                 to (shade (@button_bg_color, 0.9)));
}

.button:active:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@button_bg_color, 0.95)),
                                     to (shade (@button_bg_color, 1.0)));

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@button_bg_color, 0.6)),
                                           to (shade (@button_bg_color, 0.7)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@button_bg_color, 0.88)),
                                                 to (shade (@button_bg_color, 0.94)));
}

.button:insensitive {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@button_insensitive_bg_color, 1.04)),
                                     to (shade (@button_insensitive_bg_color, 0.96)));

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@button_insensitive_bg_color, 0.8)),
                                           to (shade (@button_insensitive_bg_color, 0.8)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@button_insensitive_bg_color, 1.08)),
                                                 to (shade (@button_insensitive_bg_color, 1.0)));
}

.button:insensitive:active {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@button_insensitive_bg_color, 0.97)),
                                     to (shade (@button_insensitive_bg_color, 1.0)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@button_insensitive_bg_color, 0.95)),
                                                 to (shade (@button_insensitive_bg_color, 0.98)));
}

GtkComboBox.combobox-entry .button,
GtkScale.slider,
GtkScale.slider.vertical,
.notebook .button,
.inline-toolbar.toolbar .button {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@button_bg_color, 1.12)),
                                     to (shade (@button_bg_color, 0.92)));
    border-top-color: shade (@theme_bg_color, 0.82);
    border-right-color: shade (@theme_bg_color, 0.78);
    border-bottom-color: shade (@theme_bg_color, 0.64);
    border-left-color: shade (@theme_bg_color, 0.78);
    padding: 3px;

    -unico-border-gradient: none;
    -unico-glow-color: shade (@theme_bg_color, 1.02);
    -unico-glow-radius: 4;
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_bg_color, 1.2)),
                                                 to (shade (@theme_bg_color, 0.98)));
}

GtkComboBox.combobox-entry .button:hover,
GtkScale.slider:hover,
GtkScale.slider.vertical:hover,
.notebook .button:hover,
.inline-toolbar.toolbar .button:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@button_bg_color, 1.16)),
                                     to (shade (@button_bg_color, 0.95)));
    border-top-color: shade (@theme_bg_color, 0.85);
    border-right-color: shade (@theme_bg_color, 0.82);
    border-bottom-color: shade (@theme_bg_color, 0.67);
    border-left-color: shade (@theme_bg_color, 0.82);

    -unico-border-gradient: none;
    -unico-glow-color: shade (@theme_bg_color, 1.07);
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_bg_color, 1.21)),
                                                 to (shade (@theme_bg_color, 1.02)));
}

GtkComboBox.combobox-entry .button:active,
.notebook .button:active,
.inline-toolbar.toolbar .button:active {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@button_bg_color, 0.9)),
                                     to (shade (@button_bg_color, 0.95)));
    border-top-color: shade (@theme_bg_color, 0.62);
    border-right-color: shade (@theme_bg_color, 0.72);
    border-bottom-color: shade (@theme_bg_color, 0.76);
    border-left-color: shade (@theme_bg_color, 0.72);

    -unico-border-gradient: none;
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_bg_color, 0.85)),
                                                 to (shade (@theme_bg_color, 0.9)));
}

GtkComboBox.combobox-entry .button:active:hover,
.notebook .button:active:hover,
.inline-toolbar.toolbar .button:active:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@button_bg_color, 0.95)),
                                     to (shade (@button_bg_color, 1.0)));
    border-top-color: shade (@theme_bg_color, 0.64);
    border-right-color: shade (@theme_bg_color, 0.74);
    border-bottom-color: shade (@theme_bg_color, 0.79);
    border-left-color: shade (@theme_bg_color, 0.74);

    -unico-border-gradient: none;
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_bg_color, 0.93)),
                                                 to (shade (@theme_bg_color, 0.94)));
}

GtkComboBox.combobox-entry .button:insensitive,
.notebook .button:insensitive,
.inline-toolbar.toolbar .button:insensitive {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@button_insensitive_bg_color, 1.06)),
                                     to (shade (@button_insensitive_bg_color, 0.98)));
    border-top-color: shade (@theme_bg_color, 0.86);
    border-right-color: shade (@theme_bg_color, 0.86);
    border-bottom-color: shade (@theme_bg_color, 0.86);
    border-left-color: shade (@theme_bg_color, 0.9);

    -unico-border-gradient: none;
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_bg_color, 1.1)),
                                                 to (shade (@theme_bg_color, 1.0)));
}

/* default button */
.button.default {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (mix (shade (@theme_selected_bg_color, 1.16), @theme_bg_color, 0.3)),
                                     to (mix (shade (@theme_selected_bg_color, 0.84), @theme_bg_color, 0.3)));

    -unico-focus-border-color: transparent;
    -unico-focus-outer-stroke-color: alpha (@theme_selected_bg_color, 0.2);

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (mix (shade (@theme_selected_bg_color, 0.8), @theme_bg_color, 0.3)),
                                           to (mix (shade (@theme_selected_bg_color, 0.64), @theme_bg_color, 0.3)));
    -unico-glow-color: mix (shade (@theme_selected_bg_color, 1.5), @theme_bg_color, 0.3);
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (mix (shade (@theme_selected_bg_color, 1.42), @theme_bg_color, 0.3)),
                                                 to (mix (shade (@theme_selected_bg_color, 1.12), @theme_bg_color, 0.3)));
}

.button.default:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (mix (shade (@theme_selected_bg_color, 1.21), @theme_bg_color, 0.3)),
                                     to (mix (shade (@theme_selected_bg_color, 0.89), @theme_bg_color, 0.3)));

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (mix (shade (@theme_selected_bg_color, 0.83), @theme_bg_color, 0.3)),
                                           to (mix (shade (@theme_selected_bg_color, 0.67), @theme_bg_color, 0.3)));
    -unico-glow-color: mix (shade (@theme_selected_bg_color, 1.55), @theme_bg_color, 0.3);
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (mix (shade (@theme_selected_bg_color, 1.47), @theme_bg_color, 0.3)),
                                                 to (mix (shade (@theme_selected_bg_color, 1.17), @theme_bg_color, 0.3)));
}

.button.default:active {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (mix (shade (@theme_selected_bg_color, 0.95), @theme_bg_color, 0.3)),
                                     to (mix (shade (@theme_selected_bg_color, 1.05), @theme_bg_color, 0.3)));

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (mix (shade (@theme_selected_bg_color, 0.7), @theme_bg_color, 0.3)),
                                           to (mix (shade (@theme_selected_bg_color, 0.7), @theme_bg_color, 0.3)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (mix (shade (@theme_selected_bg_color, 0.9), @theme_bg_color, 0.3)),
                                                 to (mix (shade (@theme_selected_bg_color, 1.0), @theme_bg_color, 0.3)));
}

.button.default:active:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (mix (shade (@theme_selected_bg_color, 1.0), @theme_bg_color, 0.3)),
                                     to (mix (shade (@theme_selected_bg_color, 1.1), @theme_bg_color, 0.3)));

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (mix (shade (@theme_selected_bg_color, 0.7), @theme_bg_color, 0.3)),
                                           to (mix (shade (@theme_selected_bg_color, 0.7), @theme_bg_color, 0.3)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (mix (shade (@theme_selected_bg_color, 0.95), @theme_bg_color, 0.3)),
                                                 to (mix (shade (@theme_selected_bg_color, 1.05), @theme_bg_color, 0.3)));
}

.button.default:insensitive {
    -unico-glow-radius: 0;
}

/* Middle button */
.linked .entry,
.linked .button,
.linked .button:active,
.linked .button:active:hover,
.linked .button:insensitive,
.primary-toolbar .linked .entry,
.primary-toolbar .linked .button,
.primary-toolbar .linked .button:active,
.primary-toolbar .linked .button:active:hover,
.primary-toolbar .linked .button:insensitive {
    border-width: 1px;
    border-right-width: 0;

    border-radius: 0;

    -unico-outer-stroke-width: 1 0 1 0;
}

/* Leftmost button */
.linked .entry:first-child,
.linked .button:first-child,
.linked .button:active:first-child,
.linked .button:active:hover:first-child,
.linked .button:insensitive:first-child,
.primary-toolbar .linked .entry:first-child,
.primary-toolbar .linked .button:first-child,
.primary-toolbar .linked .button:active:first-child,
.primary-toolbar .linked .button:active:hover:first-child,
.primary-toolbar .linked .button:insensitive:first-child {
    border-width: 1px;
    border-right-width: 0;

    border-radius: 2px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    -unico-outer-stroke-width: 1 0 1 1;
}

/* Rightmost button */
.linked .entry:last-child,
.linked .button:last-child,
.linked .button:active:last-child,
.linked .button:active:hover:last-child,
.linked .button:insensitive:last-child,
.primary-toolbar .linked .entry:last-child,
.primary-toolbar .linked .button:last-child,
.primary-toolbar .linked .button:active:last-child,
.primary-toolbar .linked .button:active:hover:last-child,
.primary-toolbar .linked .button:insensitive:last-child {
    border-width: 1px;

    border-radius: 2px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    -unico-outer-stroke-width: 1 1 1 0;
}

/* Linked single button */
.linked .entry:only-child,
.linked .button:only-child,
.linked .button:active:only-child,
.linked .button:active:hover:only-child,
.linked .button:insensitive:only-child,
.primary-toolbar .linked .entry:only-child,
.primary-toolbar .linked .button:only-child,
.primary-toolbar .linked .button:active:only-child,
.primary-toolbar .linked .button:active:hover:only-child,
.primary-toolbar .linked .button:insensitive:only-child {
    border-width: 1px;

    border-radius: 2px;

    -unico-outer-stroke-width: 1;
}

/****************
 * cell and row *
 ****************/
.cell {
    background-color: @theme_base_color;
    border-radius: 0;
    border-width: 0;
}

.cell:selected {
}

row:hover {
}

row:insensitive {
}

row:selected {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_selected_bg_color, 1.06)),
                                     to (shade (@theme_selected_bg_color, 0.94)));
    border-color: shade (@theme_selected_bg_color, 0.88);
    border-style: solid;
    border-width: 1px 0 0 0;

    color: @theme_selected_fg_color;
}

row:selected:focus {
}

row:selected:backdrop {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@backdrop_selected_bg_color, 1.06)),
                                     to (shade (@backdrop_selected_bg_color, 1.0)));
    border-top-color: shade (@backdrop_selected_bg_color, 0.98);
    border-style: solid;
    border-width: 1px 0 0 0;

    color: @backdrop_selected_fg_color;
}

row:selected:focus:backdrop {
}

/*******************
 * check and radio *
 *******************/
.check row:selected,
.radio row:selected,
.check,
.check row,
.radio,
.radio row {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_base_color, 0.96)),
                                     to (@theme_base_color));
    border-top-color: shade (@theme_bg_color, 0.64);
    border-right-color: shade (@theme_bg_color, 0.76);
    border-bottom-color: shade (@theme_bg_color, 0.82);
    border-left-color: shade (@theme_bg_color, 0.76);
    border-style: solid;
    border-width: 1px;

    -unico-border-gradient: none;
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (shade (@theme_bg_color, 0.05), 0.06)),
                                                 to (alpha (shade (@theme_bg_color, 0.05), 0.03)));
    -unico-inner-stroke-width: 1;
}

.check,
.check row {
    border-radius: 2px;
}

.radio,
.radio row {
    border-radius: 10px;
}

/* FIXME (Cimi) this is horrible */
.check:active,
.check row:selected:active,
.check row:selected:focus:active,
.notebook .check:active,
.notebook .radio:active,
.radio:active,
.radio row:selected:active,
.radio row:selected:focus:active,
.check:inconsistent,
.check row:selected:inconsistent,
.check row:selected:focus:inconsistent,
.notebook .check:inconsistent,
.notebook .radio:inconsistent,
.radio:inconsistent,
.radio row:selected:inconsistent,
.radio row:selected:focus:inconsistent {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_selected_bg_color, 1.2)),
                                     color-stop (0.5, shade (@theme_selected_bg_color, 1.0)),
                                     to (shade (@theme_selected_bg_color, 0.9)));

    -unico-bullet-color: shade (@theme_selected_bg_color, 0.535);
    -unico-bullet-outline-color: shade (@theme_selected_bg_color, 1.2);

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_selected_bg_color, 0.96)),
                                           to (shade (@theme_selected_bg_color, 0.96)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_selected_bg_color, 1.3)),
                                                 to (shade (@theme_selected_bg_color, 1.06)));
    -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (shade (@theme_bg_color, 0.05), 0.02)),
                                                 to (alpha (shade (@theme_bg_color, 0.05), 0.06)));
    -unico-outer-stroke-width: 1;
}

/* FIXME (Cimi) this is horrible */
.check:active:hover,
.check row:selected:active:hover,
.check row:selected:focus:active:hover,
.notebook .check:active:hover,
.notebook .radio:active:hover,
.radio:active:hover,
.radio row:selected:active:hover,
.radio row:selected:focus:active:hover,
.check:active:hover:inconsistent,
.check row:selected:active:hover:inconsistent,
.check row:selected:focus:active:hover:inconsistent,
.notebook .check:active:hover:inconsistent,
.notebook .radio:active:hover:inconsistent,
.radio:active:hover:inconsistent,
.radio row:selected:active:hover:inconsistent,
.radio row:selected:focus:active:hover:inconsistent {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_selected_bg_color, 1.26)),
                                     color-stop (0.5, shade (@theme_selected_bg_color, 1.05)),
                                     to (shade (@theme_selected_bg_color, 0.95)));

    -unico-bullet-color: shade (@theme_selected_bg_color, 0.56);
    -unico-bullet-outline-color: shade (@theme_selected_bg_color, 1.26);

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_selected_bg_color, 0.74)),
                                           to (shade (@theme_selected_bg_color, 0.74)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_selected_bg_color, 1.37)),
                                                 to (shade (@theme_selected_bg_color, 1.12)));
}

.check row:selected,
.check row:selected:active,
.check row:selected:focus,
.check row:selected:focus:active,
.radio row:selected,
.radio row:selected:active,
.radio row:selected:focus,
.radio row:selected:focus:active {
    -unico-outer-stroke-color: transparent;
    -unico-outer-stroke-gradient: none;
}

.check:insensitive,
.radio:insensitive {
    background-color: shade (@theme_bg_color, 0.96);
    background-image: none;
}

.check:insensitive:active,
.radio:insensitive:active,
.check:insensitive:inconsistent,
.radio:insensitive:inconsistent {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 0.96)),
                                     to (shade (@theme_bg_color, 0.9)));

    -unico-bullet-color: shade (@theme_bg_color, 0.6);
    -unico-bullet-outline-color: shade (@theme_bg_color, 1.0);

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_bg_color, 0.8)),
                                           to (shade (@theme_bg_color, 0.7)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_bg_color, 1.0)),
                                                 to (shade (@theme_bg_color, 0.94)));
}

/*****************
 * column-header *
 *****************/
column-header .button,
column-header .button:active,
.notebook column-header .button,
.notebook column-header .button:active {
    border-radius: 0;
    border-width: 0 1px 1px 0;

    -unico-focus-border-radius: 0;
    -unico-focus-border-color: transparent;
    -unico-focus-fill-color: alpha (@theme_selected_bg_color, 0.2);
    -unico-focus-outer-stroke-color: transparent;

    -unico-glow-radius: 0;
    -unico-outer-stroke-width: 0;
}

column-header .button,
.notebook column-header .button {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 1.01)),
                                     to (shade (@theme_bg_color, 0.92)));

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_bg_color, 0.8)),
                                           to (shade (@theme_bg_color, 0.76)));
    -unico-glow-color: shade (@theme_bg_color, 0.99);
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_bg_color, 1.16)),
                                                 to (shade (@theme_bg_color, 0.99)));
}

column-header .button:hover,
.notebook column-header .button:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 1.13)),
                                     to (shade (@theme_bg_color, 0.97)));

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_bg_color, 0.84)),
                                           to (shade (@theme_bg_color, 0.75)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_bg_color, 1.21)),
                                                 to (shade (@theme_bg_color, 1.04)));
}

column-header:nth-child(last) .button {
    border-width: 0 0 1px 0;
}

/******************
 * combobox entry *
 ******************/
.primary-toolbar GtkComboBox.combobox-entry .entry,
.primary-toolbar GtkComboBox.combobox-entry .entry:active,
.primary-toolbar GtkComboBox.combobox-entry .entry:focus,
.primary-toolbar GtkComboBox.combobox-entry .entry:insensitive,
GtkComboBox.combobox-entry .entry,
GtkComboBox.combobox-entry .entry:active,
GtkComboBox.combobox-entry .entry:focus,
GtkComboBox.combobox-entry .entry:insensitive {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-width: 1px 0 1px 1px;

    -unico-outer-stroke-width: 1 0 1 1;
}

.primary-toolbar GtkComboBox.combobox-entry .button,
.primary-toolbar GtkComboBox.combobox-entry .button:hover,
.primary-toolbar GtkComboBox.combobox-entry .button:active,
.primary-toolbar GtkComboBox.combobox-entry .button:insensitive,
GtkComboBox.combobox-entry .button,
GtkComboBox.combobox-entry .button:hover,
GtkComboBox.combobox-entry .button:active,
GtkComboBox.combobox-entry .button:insensitive {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-width: 1px 1px 1px 1px;

    -unico-outer-stroke-width: 1 1 1 0;
}

GtkComboBox.combobox-entry .button,
GtkComboBox.combobox-entry .button:hover,
GtkComboBox.combobox-entry .button:active,
GtkComboBox.combobox-entry .button:insensitive {
    border-top-color: shade (@theme_bg_color, 0.64);
    border-right-color: shade (@theme_bg_color, 0.8);
    border-bottom-color: shade (@theme_bg_color, 0.86);
    border-left-color: shade (@theme_bg_color, 0.76);
}

/****************
 * drawing area *
 ****************/

GtkDrawingArea {
    background-color: transparent;
}

/*********
 * entry *
 *********/
.entry {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_base_color, 0.97)),
                                     to (@theme_base_color));
    border-top-color: shade (@theme_bg_color, 0.64);
    border-right-color: shade (@theme_bg_color, 0.76);
    border-bottom-color: shade (@theme_bg_color, 0.82);
    border-left-color: shade (@theme_bg_color, 0.76);
    border-radius: 2px;
    border-style: solid;
    padding: 3px 5px 3px 5px;

    color: @theme_text_color;

    -unico-border-gradient: none;
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (shade (@theme_bg_color, 0.05), 0.04)),
                                                 to (alpha (shade (@theme_bg_color, 0.05), 0.02)));
    -unico-inner-stroke-width: 1;
}

.entry:selected,
.entry:selected:focus {
    background-color: @theme_selected_bg_color;

    color: @theme_selected_fg_color;
}

.entry:focus {
    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_selected_bg_color, 0.75)),
                                           to (shade (@theme_selected_bg_color, 0.8)));
    -unico-inner-stroke-color: alpha (@theme_selected_bg_color, 0.3);
    -unico-inner-stroke-gradient: none;
}

.entry:insensitive {
    background-color: shade (@theme_bg_color, 0.96);
    background-image: none;

    color: mix (@theme_text_color, @theme_base_color, 0.4);

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (shade (@theme_bg_color, 0.05), 0.04)),
                                                 to (alpha (shade (@theme_bg_color, 0.05), 0.02)));
}

.primary-toolbar .entry.progressbar,
.primary-toolbar .entry.progressbar,
.entry.progressbar {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_selected_bg_color, 0.8)),
                                     color-stop (0.1, shade (@theme_selected_bg_color, 0.9)),
                                     to (shade (@theme_selected_bg_color, 1.1)));
    border-radius: 2px;
    border-width: 0;

    color: @theme_selected_fg_color;

    -unico-outer-stroke-width: 0;
}

/************
 * expander *
 ************/
.expander {
    color: @theme_fg_color;
}

/*********
 * frame *
 *********/
.frame {
    border-radius: 2px;

    -unico-outer-stroke-width: 0;
}

/************
 * iconview *
 ************/
GtkIconView.view.cell:selected,
GtkIconView.view.cell:selected:focus {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_selected_bg_color, 1.0)),
                                     to (shade (@theme_selected_bg_color, 0.9)));
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;

    color: @theme_selected_fg_color;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_selected_bg_color, 0.7)),
                                           to (shade (@theme_selected_bg_color, 0.7)));
    -unico-glow-radius: 8;
    -unico-glow-color: shade (@theme_selected_bg_color, 1.3);
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_selected_bg_color, 1.2)),
                                                 to (shade (@theme_selected_bg_color, 1.08)));
    -unico-inner-stroke-width: 1;
}

.view.rubberband,
.rubberband {
    background-color: alpha (@theme_selected_bg_color, 0.3);
    border-color: @theme_selected_bg_color;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
}

/*********
 * image *
 *********/
GtkImage {
    background-color: transparent;
}

/***********
 * infobar *
 ***********/
.info {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@info_bg_color, 1.1)),
                                     to (shade (@info_bg_color, 1.04)));
    border-style: solid;
    border-width: 1px;

    color: @info_fg_color;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@info_bg_color, 0.8)),
                                           to (shade (@info_bg_color, 0.75)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@info_bg_color, 1.1)),
                                                 to (shade (@info_bg_color, 1.04)));
    -unico-inner-stroke-width: 1;
}

.warning {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@warning_bg_color, 1.04)),
                                     to (shade (@warning_bg_color, 0.96)));
    border-style: solid;
    border-width: 1px;

    color: @warning_fg_color;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@warning_bg_color, 0.8)),
                                           to (shade (@warning_bg_color, 0.75)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@warning_bg_color, 1.1)),
                                                 to (shade (@warning_bg_color, 1.04)));
    -unico-inner-stroke-width: 1;
}

.question {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@question_bg_color, 1.04)),
                                     to (shade (@question_bg_color, 0.96)));
    border-style: solid;
    border-width: 1px;

    color: @question_fg_color;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@question_bg_color, 0.8)),
                                           to (shade (@question_bg_color, 0.75)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@question_bg_color, 1.1)),
                                                 to (shade (@question_bg_color, 1.04)));
    -unico-inner-stroke-width: 1;
}

.error {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@error_bg_color, 1.04)),
                                     to (shade (@error_bg_color, 0.96)));
    border-style: solid;
    border-width: 1px;

    color: @error_fg_color;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@error_bg_color, 0.8)),
                                           to (shade (@error_bg_color, 0.75)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@error_bg_color, 1.1)),
                                                 to (shade (@error_bg_color, 1.04)));
    -unico-inner-stroke-width: 1;
}

/*****************
 * miscellaneous *
 *****************/
.floating-bar {
    background-color: @theme_bg_color;
    border-color: shade (@theme_bg_color, 0.8);
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
}

.floating-bar.top {
    border-top-width: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.floating-bar.right {
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.floating-bar.bottom {
    border-bottom-width: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.floating-bar.left {
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.floating-bar .button {
    background-color: transparent;
    background-image: none;

    border-style: none;
    border-image: none;

    -GtkButton-image-spacing: 0;
    -GtkButton-inner-border: 0;
}

.dim-label {
    color: mix (@theme_fg_color, @theme_bg_color, 0.5);
}

.dim-label:selected {
    color: mix (@theme_selected_fg_color, @theme_bg_color, 0.5);
}

.dnd {
    border-color: shade (@theme_selected_bg_color, 1.12);
    border-width: 1px;
    border-style: solid;

    -unico-outer-stroke-color: transparent;
    -unico-outer-stroke-width: 1;
}

.grip {
    color: shade (@theme_bg_color, 0.9);
}

/********
 * menu *
 ********/
.menu {
    background-image: none;
    border-bottom-color: shade (@theme_bg_color, 0.96);
    border-left-color: shade (@theme_bg_color, 0.8);
    border-right-color: shade (@theme_bg_color, 0.8);
    border-top-color: shade (@theme_bg_color, 0.96);
    border-style: solid;
    padding: 0;

    color: @theme_fg_color;

    -unico-inner-stroke-color: shade (@theme_bg_color, 1.18);
    -unico-inner-stroke-gradient: none;
    -unico-inner-stroke-width: 1 1 0 1;
}

Genericmenuitem .menu,
DbusmenuGtkMenu .menu,
.menubar .menu,
.primary-toolbar .menu {
    background-color: @theme_bg_color;
    border-bottom-color: shade (@theme_bg_color, 0.96);
    border-left-color: shade (@theme_bg_color, 0.86);
    border-right-color: shade (@theme_bg_color, 0.86);
    border-top-color: shade (@theme_bg_color, 0.96);

    color: @theme_fg_color;

    -unico-inner-stroke-color: shade (@theme_bg_color, 1.12);
}

.menu:selected {
    background-color: @theme_selected_bg_color;
}

.menubar .menu.button:hover,
.menubar .menu.button:active,
.menubar .menu.button:active:insensitive,
.menubar .menu.button:insensitive,
.menubar .menu.button,
.primary-toolbar .menu.button:hover,
.primary-toolbar .menu.button:active,
.primary-toolbar .menu.button:active:insensitive,
.primary-toolbar .menu.button:insensitive,
.primary-toolbar .menu.button {
    background-color: @theme_bg_color;
    background-image: none;
    border-radius: 0;
    border-style: none;
    border-width: 1px;

    -unico-border-gradient: none;
    -unico-glow-radius: 0;
    -unico-inner-stroke-width: 0;
    -unico-outer-stroke-width: 0;
}

/***********
 * menubar *
 ***********/
.menubar {
    -GtkWidget-window-dragging: true;

    background-color: @theme_bg_color;
    background-image: none;
    border-width: 0;

    color: @theme_fg_color;

    -unico-border-gradient: none;
}

/***************
 * menubaritem *
 ***************/
.menubar.menuitem {
    background-color: @theme_bg_color;
    border-radius: 2px 2px 0 0;
    border-width: 1px 1px 0 1px;

    color: @theme_fg_color;
}

.menubar.menuitem:hover,
.menubar .menuitem:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 1.0)),
                                     to (shade (@theme_bg_color, 0.99)));

    color: @theme_fg_color;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_bg_color, 0.88)),
                                           to (shade (@theme_bg_color, 0.9)));
    -unico-glow-radius: 0;
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_bg_color, 1.14)),
                                                 to (shade (@theme_bg_color, 1.0)));
    -unico-inner-stroke-width: 1;
}

/************
 * menuitem *
 ************/
.menuitem {
    color: @theme_fg_color;
}

.menuitem {
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    padding: 3px 2px 3px 2px;

    -unico-inner-stroke-width: 1;
}

Genericmenuitem .menuitem,
DbusmenuGtkMenu .menuitem,
.menubar .menuitem,
.primary-toolbar .menuitem {
    color: @theme_fg_color;
}

/* Workaround for lp:949368 */
GtkComboBox .menuitem * {
    color: @theme_fg_color;
}

GtkComboBox .menuitem *:hover {
    color: @theme_selected_fg_color;
}

.menuitem:hover,
.menu .menuitem:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_selected_bg_color, 1.1)),
                                     to (shade (@theme_selected_bg_color, 0.9)));

    color: @theme_selected_fg_color;

    -unico-bullet-color: @theme_selected_fg_color;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_selected_bg_color, 0.8)),
                                           to (shade (@theme_selected_bg_color, 0.8)));
    -unico-glow-color: shade (@theme_selected_bg_color, 1.1);
    -unico-glow-radius: 6;
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_selected_bg_color, 1.2)),
                                                 to (shade (@theme_selected_bg_color, 1.0)));
}

.menuitem.check:active,
.menuitem.radio:active {
    color: @theme_fg_color;

    -unico-bullet-color: @theme_fg_color;
}

.menuitem:insensitive,
.menuitem *:insensitive {
    color: mix (@theme_fg_color, @theme_bg_color, 0.5);
}

Genericmenuitem .menuitem:insensitive,
Genericmenuitem .menuitem *:insensitive,
DbusmenuGtkMenu .menuitem:insensitive,
DbusmenuGtkMenu .menuitem *:insensitive,
.menubar .menuitem:insensitive,
.menubar .menuitem *:insensitive,
.primary-toolbar .menuitem:insensitive,
.primary-toolbar .menuitem *:insensitive {
    color: mix (@theme_fg_color, @theme_bg_color, 0.5);
}

Genericmenuitem .menuitem.check:active,
Genericmenuitem .menuitem.radio:active,
DbusmenuGtkMenu .menuitem.check:active,
DbusmenuGtkMenu .menuitem.radio:active,
.menubar .menuitem.check:active,
.menubar .menuitem.radio:active,
.primary-toolbar .menuitem.check:active,
.primary-toolbar .menuitem.radio:active {
    color: @theme_fg_color;

    -unico-bullet-color: @theme_fg_color;
}

.menuitem.check:active:hover,
.menuitem.radio:active:hover {
    color: @theme_selected_fg_color;

    -unico-bullet-color: @theme_selected_fg_color;
}

.menubar .menuitem GtkCalendar,
.menubar .menuitem GtkCalendar.button,
.menubar .menuitem GtkCalendar.header,
.menubar .menuitem GtkCalendar.view,
.primary-toolbar .menuitem GtkCalendar,
.primary-toolbar .menuitem GtkCalendar.button,
.primary-toolbar .menuitem GtkCalendar.header,
.primary-toolbar .menuitem GtkCalendar.view {
    background-color: @theme_bg_color;
    background-image: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    padding: 0;

    color: @theme_fg_color;
}

.menubar .menuitem GtkCalendar,
.primary-toolbar .menuitem GtkCalendar {
    background-color: shade (@theme_bg_color, 1.3);
    background-image: none;
}

.menubar .menuitem .entry,
.primary-toolbar .menuitem .entry {
    background-color: shade (@theme_bg_color, 1.3);
    background-image: none;

    color: @theme_fg_color;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_bg_color, 0.75)),
                                           to (shade (@theme_bg_color, 0.9)));
    -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_bg_color, 0.98)),
                                                 to (shade (@theme_bg_color, 1.1)));
}

.menubar .menuitem GtkScale.trough {
    background-color: @theme_bg_color;
    background-image: none;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_bg_color, 0.75)),
                                           to (shade (@theme_bg_color, 1.15)));
}

Genericmenuitem .menuitem .accelerator,
DbusmenuGtkMenu .menuitem .accelerator,
.menubar .menuitem .accelerator,
.primary-toolbar .menuitem .accelerator {
    color: alpha (@theme_fg_color, 0.6);
}

Genericmenuitem .menuitem .accelerator:hover,
DbusmenuGtkMenu .menuitem .accelerator:hover.
.menubar .menuitem .accelerator:hover,
.primary-toolbar .menuitem .accelerator:hover {
    color: alpha (@theme_selected_fg_color, 0.8);
}

Genericmenuitem .menuitem .accelerator:insensitive,
DbusmenuGtkMenu .menuitem .accelerator:insensitive,
.menubar .menuitem .accelerator:insensitive,
.primary-toolbar .menuitem .accelerator:insensitive {
    color: alpha (mix (@theme_fg_color, @theme_bg_color, 0.5), 0.6);
}

/************
 * notebook *
 ************/
.notebook {
    background-color: shade (@theme_bg_color, 1.02);
    background-image: none;
    border-radius: 2px;
    padding: 3px;

    -unico-inner-stroke-color: alpha (shade (@theme_bg_color, 1.26), 0.3);
    -unico-inner-stroke-gradient: none;
}

.notebook tab {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 0.97)),
                                     color-stop (0.80, shade (@theme_bg_color, 0.95)),
                                     to (shade (@theme_bg_color, 0.92)));

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_bg_color, 0.86)),
                                           to (shade (@theme_bg_color, 0.84)));
    -unico-inner-stroke-color: alpha (shade (@theme_bg_color, 1.26), 0.34);
    -unico-inner-stroke-gradient: none;
    -unico-inner-stroke-width: 1;
    -unico-outer-stroke-color: transparent;
    -unico-outer-stroke-gradient: none;
    -unico-outer-stroke-width: 1;
}

.notebook tab,
.notebook tab:active {
    padding: 3px 5px 1px 5px;
}

.notebook tab GtkLabel:active {
    color: @theme_fg_color;
}

.notebook tab GtkLabel {
}

.notebook tab:active {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 1.02)),
                                     to (shade (@theme_bg_color, 1.01)));

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_bg_color, 0.84)),
                                           to (shade (@theme_bg_color, 0.8)));
}

.notebook tab .button {
    padding: 0;
}

.notebook GtkDrawingArea {
        background-color: shade (@theme_bg_color, 1.02);
}

/******************
 * pane separator *
 ******************/
.sidebar .pane-separator,
.pane-separator {
    background-color: shade (@theme_bg_color, 0.8);
    border-width: 0;

    -unico-border-gradient: none;
    -unico-inner-stroke-width: 0;
}

/*************************
 * progressbar and scale *
 *************************/
GtkScale,
GtkProgressBar {
    border-radius: 2px;
    border-width: 1px;
    padding: 1px;
}

.menubar .menuitem .scale.highlight.left,
.scale.highlight.left,
.progressbar,
.progressbar row,
.progressbar row:hover,
.progressbar row:selected,
.progressbar row:selected:focus {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_selected_bg_color, 1.13)),
                                     to (shade (@theme_selected_bg_color, 0.9)));
    border-style: solid;
    border-width: 1px;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_selected_bg_color, 0.75)),
                                           to (shade (@theme_selected_bg_color, 0.75)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_selected_bg_color, 1.22)),
                                                 to (shade (@theme_selected_bg_color, 1.0)));
    -unico-inner-stroke-width: 1;
    -unico-outer-stroke-color: transparent;
    -unico-outer-stroke-gradient: none;
    -unico-outer-stroke-width: 0;
}

.scale.highlight.bottom,
.progressbar.vertical {
    background-image: -gtk-gradient (linear, left top, right top,
                                    from (shade (@theme_selected_bg_color, 1.13)),
                                    to (shade (@theme_selected_bg_color, 0.9)));
    border-style: solid;
    border-width: 1px;

    -unico-border-gradient: -gtk-gradient (linear, left top, right top,
                                           from (shade (@theme_selected_bg_color, 0.75)),
                                           to (shade (@theme_selected_bg_color, 0.75)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, right top,
                                                 from (shade (@theme_selected_bg_color, 1.22)),
                                                 to (shade (@theme_selected_bg_color, 1.0)));
}

.scale.highlight.left:insensitive {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 0.95)),
                                     to (shade (@theme_bg_color, 0.85)));

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_bg_color, 0.75)),
                                           to (shade (@theme_bg_color, 0.75)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_bg_color, 0.97)),
                                                 to (shade (@theme_bg_color, 0.865)));
}

.scale.highlight.bottom:insensitive {
    background-image: -gtk-gradient (linear, left top, right top,
                                     from (shade (@theme_bg_color, 0.95)),
                                     to (shade (@theme_bg_color, 0.85)));

    -unico-border-gradient: -gtk-gradient (linear, left top, right top,
                                           from (shade (@theme_bg_color, 0.75)),
                                           to (shade (@theme_bg_color, 0.75)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, right top,
                                                 from (shade (@theme_bg_color, 0.97)),
                                                 to (shade (@theme_bg_color, 0.865)));
}

.trough,
.trough row,
.trough row:hover,
.trough row:selected,
.trough row:selected:focus {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 0.92)),
                                     to (shade (@theme_bg_color, 0.96)));
    border-style: solid;
    border-width: 1px;

    color: @theme_text_color;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_bg_color, 0.75)),
                                           to (shade (@theme_bg_color, 1.05)));
    -unico-outer-stroke-width: 0;
}

.trough.vertical {
    background-image: -gtk-gradient (linear, left top, right top,
                                     from (shade (@theme_bg_color, 0.92)),
                                     to (shade (@theme_bg_color, 0.96)));

    -unico-border-gradient: -gtk-gradient (linear, left top, right top,
                                          from (shade (@theme_bg_color, 0.75)),
                                          to (shade (@theme_bg_color, 1.05)));
}

GtkScale {
    -GtkRange-slider-width: 10;
    -GtkRange-trough-border: 1;
    -GtkScale-slider-length: 15;

    -unico-glow-radius: 0;
}

GtkScale.vertical {
    -GtkScale-slider-length: 15;
}

GtkScale.slider {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 1.08)),
                                     to (shade (@theme_bg_color, 0.92)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, right top,
                                           from (shade (@theme_bg_color, 0.74)),
                                           to (shade (@theme_bg_color, 0.74)));
    -unico-inner-stroke-width: 1;
}

.menubar .menuitem GtkScale.slider:hover,
GtkScale.slider:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 1.25)),
                                     to (shade (@theme_bg_color, 0.95)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, right top,
                                           from (shade (@theme_bg_color, 0.74)),
                                           to (shade (@theme_bg_color, 0.74)));
}

GtkScale.slider:insensitive {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 1.08)),
                                     to (shade (@theme_bg_color, 0.92)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, right top,
                                           from (shade (@theme_bg_color, 0.9)),
                                           to (shade (@theme_bg_color, 0.9)));
}

GtkScale.slider.vertical {
    background-image: -gtk-gradient (linear, left top, right top,
                                     from (shade (@theme_bg_color, 1.08)),
                                     to (shade (@theme_bg_color, 0.92)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, right top,
                                           from (shade (@theme_bg_color, 0.74)),
                                           to (shade (@theme_bg_color, 0.74)));
}

GtkScale.slider.vertical:hover {
    background-image: -gtk-gradient (linear, left top, right top,
                                     from (shade (@theme_bg_color, 1.25)),
                                     to (shade (@theme_bg_color, 0.95)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, right top,
                                           from (shade (@theme_bg_color, 0.74)),
                                           to (shade (@theme_bg_color, 0.74)));
}

GtkScale.slider.vertical:insensitive {
    background-image: -gtk-gradient (linear, left top, right top,
                                     from (shade (@theme_bg_color, 1.08)),
                                     to (shade (@theme_bg_color, 0.92)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, right top,
                                           from (shade (@theme_bg_color, 0.9)),
                                           to (shade (@theme_bg_color, 0.9)));
}

GtkScale.mark {
    border-color: shade (@theme_bg_color, 0.8);
}

/*************
 * scrollbar *
 *************/
.scrollbar {
    color: shade (@theme_bg_color, 0.6);
    border-radius: 2px;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_bg_color, 0.74)),
                                           to (shade (@theme_bg_color, 0.74)));
}

.scrollbar.trough,
.scrollbar.trough.vertical {
    background-image: -gtk-gradient (linear, left top, right top,
                                     from (shade (@theme_bg_color, 0.9)),
                                     to (shade (@theme_bg_color, 0.95)));
    border-radius: 0;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_bg_color, 0.74)),
                                           to (shade (@theme_bg_color, 0.74)));
}

.scrollbar.trough.horizontal {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 0.9)),
                                     to (shade (@theme_bg_color, 0.95)));

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_bg_color, 0.74)),
                                           to (shade (@theme_bg_color, 0.74)));
}

.scrollbar.slider,
.scrollbar.slider:hover,
.scrollbar.button,
.scrollbar.slider.vertical,
.scrollbar.slider.vertical:hover,
.scrollbar.button.vertical {
    background-image: -gtk-gradient (linear, left top, right top,
                                     from (shade (@theme_bg_color, 1.08)),
                                     to (shade (@theme_bg_color, 0.92)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, right top,
                                           from (shade (@theme_bg_color, 0.74)),
                                           to (shade (@theme_bg_color, 0.74)));
    -unico-inner-stroke-width: 1;
}

.scrollbar.slider.horizontal,
.scrollbar.slider.horizontal:hover,
.scrollbar.button.horizontal {                                   
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 1.08)),
                                     to (shade (@theme_bg_color, 0.92)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, right top,
                                           from (shade (@theme_bg_color, 0.74)),
                                           to (shade (@theme_bg_color, 0.74)));
}

.scrollbar.button,
.scrollbar.button:insensitive {
    -unico-outer-stroke-width: 0;
}

/* overlay scrollbar */
OsThumb {
    color: shade (@theme_fg_color, 1.6);
}

OsThumb:selected,
OsScrollbar:selected {
    background-color: @theme_selected_bg_color;
}

OsThumb:active,
OsScrollbar:active {
    background-color: shade (@theme_bg_color, 0.6);
}

OsThumb:insensitive,
OsScrollbar:insensitive {
    background-color: shade (@theme_bg_color, 0.85);
}

/*******************
 * scrolled window *
 *******************/
GtkScrolledWindow.frame {
    border-top-color: shade (@theme_bg_color, 0.84);
    border-right-color: shade (@theme_bg_color, 0.76);
    border-bottom-color: shade (@theme_bg_color, 0.86);
    border-left-color: shade (@theme_bg_color, 0.76);
    border-radius: 0;
    border-style: solid;

    -unico-border-gradient: none;
    -unico-inner-stroke-width: 0;
    -unico-outer-stroke-width: 0;
}

/*************
 * separator *
 *************/
.separator {
    border-color: shade (@theme_bg_color, 0.86);
    border-style: solid;

    -unico-border-gradient: none;
    -unico-inner-stroke-color: alpha (shade (@theme_bg_color, 1.26), 0.6);
    -unico-inner-stroke-gradient: none;
}

.button .separator,
.button.separator {
    border-color: shade (@button_bg_color, 0.84);

    -unico-inner-stroke-color: alpha (shade (@button_bg_color, 1.26), 0.5);
    -unico-inner-stroke-gradient: none;
}

.notebook .button .separator,
.notebook .button.separator {
    border-color: shade (@theme_bg_color, 0.9);

    -unico-inner-stroke-color: alpha (shade (@theme_bg_color, 1.26), 0.6);
    -unico-inner-stroke-gradient: none;
}

.button .separator:insensitive,
.button.separator:insensitive {
    border-color: shade (@button_insensitive_bg_color, 0.9);

    -unico-inner-stroke-color: alpha (shade (@button_insensitive_bg_color, 1.26), 0.6);
    -unico-inner-stroke-gradient: none;
}

.notebook .button .separator,
.notebook .button.separator {
    border-color: shade (@theme_bg_color, 0.84);

    -unico-inner-stroke-color: alpha (shade (@theme_bg_color, 1.26), 0.5);
    -unico-inner-stroke-gradient: none;
}

.menuitem.separator {
    -GtkMenuItem-horizontal-padding: 0;
    -GtkWidget-separator-height: 4;
}

Genericmenuitem .menuitem.separator,
DbusmenuGtkMenu .menuitem.separator,
.menubar .menuitem.separator,
.primary-toolbar .menuitem.separator {
    border-color: shade (@theme_bg_color, 0.96);

    -unico-inner-stroke-color: alpha (shade (@theme_bg_color, 1.26), 0.5);
}

/***********
 * sidebar *
 ***********/
.sidebar,
.sidebar .view {
    background-color: @theme_bg_color;
}

.sidebar row:selected {
    color: @theme_selected_fg_color;
}

.sidebar row:selected:backdrop {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 0.94)),
                                     to (shade (@theme_bg_color, 0.86)));
    border-top-color: shade (@theme_bg_color, 0.88);

    color: @theme_fg_color;
}

.sidebar .frame {
    border-width: 0;
}

/**************
 * spinbutton *
 **************/
.spinbutton.button:active,
.spinbutton.button:insensitive,
.notebook .spinbutton.button:active,
.notebook .spinbutton.button:insensitive,
.spinbutton.button,
.notebook .spinbutton.button {
    border-radius: 0;
    border-width: 1px 0 1px 1px;

    -unico-outer-stroke-width: 0;
}

.spinbutton.button:active:nth-child(last),
.spinbutton.button:insensitive:nth-child(last),
.notebook .spinbutton.button:active:nth-child(last),
.notebook .spinbutton.button:insensitive:nth-child(last),
.spinbutton.button:nth-child(last),
.notebook .spinbutton.button:nth-child(last) {
    border-radius: 0 2px 2px 0;
    border-width: 1px;
}

.spinbutton.button,
.notebook .spinbutton.button {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 1.1)),
                                     to (shade (@theme_bg_color, 0.9)));
    border-top-color: shade (@theme_bg_color, 0.64);
    border-right-color: shade (@theme_bg_color, 0.76);
    border-bottom-color: shade (@theme_bg_color, 0.82);
    border-left-color: shade (@theme_bg_color, 0.76);

    -unico-border-gradient: none;
}

.spinbutton.button:insensitive,
.notebook .spinbutton.button:insensitive {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 1.02)),
                                     to (shade (@theme_bg_color, 0.98)));
    border-top-color: shade (@theme_bg_color, 0.64);
    border-right-color: shade (@theme_bg_color, 0.76);
    border-bottom-color: shade (@theme_bg_color, 0.82);
    border-left-color: shade (@theme_bg_color, 0.76);

    color: shade (@theme_bg_color, 0.66);

    -unico-border-gradient: none;
}

.spinbutton,
.spinbutton:hover {
    color: @theme_fg_color;
}

/***********
 * spinner *
 ***********/
.spinner {
}

.spinner:active {
     transition: 750ms linear loop;
}

/*************
 * statusbar *
 *************/
GtkStatusbar {
}

/**********
 * switch *
 **********/
GtkSwitch {
    font: bold condensed 9;
    border-radius: 2px;
    padding: 0;
}

GtkSwitch.trough {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 0.96)),
                                     to (shade (@theme_bg_color, 0.94)));

    color: @theme_fg_color;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_bg_color, 0.6)),
                                           to (shade (@theme_bg_color, 0.65)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 0.93)),
                                     to (shade (@theme_bg_color, 0.99)));
    -unico-inner-stroke-width: 1;
}

GtkSwitch.trough:active {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_selected_bg_color, 0.93)),
                                     to (shade (@theme_selected_bg_color, 0.99)));

    color: @theme_selected_fg_color;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_selected_bg_color, 0.96)),
                                           to (shade (@theme_selected_bg_color, 0.76)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_selected_bg_color, 0.86)),
                                                 to (shade (@theme_selected_bg_color, 0.94)));
}

GtkSwitch.trough:insensitive {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 0.93)),
                                     to (shade (@theme_bg_color, 0.99)));

    color: shade (@theme_bg_color, 0.6);

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_bg_color, 0.7)),
                                           to (shade (@theme_bg_color, 0.75)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_bg_color, 0.88)),
                                                 to (shade (@theme_bg_color, 0.965)));
}

GtkSwitch.slider {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 1.1)),
                                     to (shade (@theme_bg_color, 0.9)));
    border-style: solid;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_bg_color, 0.65)),
                                           to (shade (@theme_bg_color, 0.6)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_bg_color, 1.2)),
                                                 to (shade (@theme_bg_color, 0.96)));
    -unico-inner-stroke-width: 1;
    -unico-outer-stroke-width: 0;  
}

GtkSwitch.slider:insensitive {
    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_bg_color, 0.7)),
                                           to (shade (@theme_bg_color, 0.75)));
}

/************
 * textview *
 ************/
GtkTextView {
    background-color: @theme_base_color;
}

/***********
 * toolbar *
 ***********/
.toolbar {
    border-style: none;
}

/* primary-toolbar */
.primary-toolbar,
.primary-toolbar .toolbar,
.primary-toolbar.toolbar {
    -GtkWidget-window-dragging: true;

    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 0.96)),
                                     to (shade (@theme_bg_color, 0.94)));
    border-bottom-color: shade (@theme_bg_color, 0.8);
    border-top-color: shade (@theme_bg_color, 0.8);
    border-style: solid;
    border-width: 1px 0 1px 0;
    padding: 2px;

    color: @theme_fg_color;

    -unico-border-gradient: none;
    -unico-inner-stroke-gradient: none;
    -unico-inner-stroke-top-color: shade (@theme_bg_color, 0.94);
    -unico-inner-stroke-width: 1 0 0 0;
}

.primary-toolbar :insensitive {
}

.primary-toolbar GtkComboBox,
.primary-toolbar .button *,
.primary-toolbar .button {
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    border-radius: 2px;
    border-width: 1px;
    padding: 2px;

    color: @theme_fg_color;

    transition: 0ms ease-in-out;

    -unico-focus-border-radius: 2;
    -unico-focus-border-color: alpha (@theme_selected_bg_color, 0.5);
    -unico-focus-fill-color: alpha (@theme_selected_bg_color, 0.2);
    -unico-focus-outer-stroke-color: transparent;

    -unico-border-gradient: none;
    -unico-glow-radius: 0;
    -unico-inner-stroke-width: 0;
    -unico-outer-stroke-width: 0;
}

.primary-toolbar .raised .button,
.primary-toolbar .raised.button,
.primary-toolbar .button:hover,
.primary-toolbar .button:active,
.primary-toolbar .button:insensitive {
    border-width: 1px;

    transition: 0ms ease-in-out;

    -unico-inner-stroke-width: 1;
    -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (shade (@theme_bg_color, 1.0), 0.25)),
                                                 to (alpha (shade (@theme_bg_color, 1.0), 0.75)));
    -unico-outer-stroke-width: 1;
}

.primary-toolbar .raised .button:focus,
.primary-toolbar .raised.button:focus,
.primary-toolbar .button:hover:focus,
.primary-toolbar .button:active:focus,
.primary-toolbar .button:insensitive:focus {
    -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (mix (@theme_selected_bg_color, alpha (shade (@theme_bg_color, 1.2), 0.25), 0.6)),
                                                 to (mix (@theme_selected_bg_color, alpha (shade (@theme_bg_color, 1.4), 0.75), 0.6)));
}

.primary-toolbar GtkComboBox.combobox-entry .button {
    -unico-inner-stroke-width: 1;
    -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (shade (@theme_bg_color, 1.2), 0.18)),
                                                 to (alpha (shade (@theme_bg_color, 1.4), 0.75)));
}

.primary-toolbar GtkComboBox.combobox-entry .button,
.primary-toolbar .raised .button,
.primary-toolbar .raised.button,
.primary-toolbar .button:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 1.0)),
                                     to (shade (@theme_bg_color, 0.94)));

    -unico-glow-color: shade (@theme_bg_color, 1.08);

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_bg_color, 0.85)),
                                           to (shade (@theme_bg_color, 0.75)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_bg_color, 1.04)),
                                                 to (shade (@theme_bg_color, 1.0)));
}

.primary-toolbar .button:active {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 0.9)),
                                     to (shade (@theme_bg_color, 0.95)));

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_bg_color, 0.75)),
                                           to (shade (@theme_bg_color, 0.85)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_bg_color, 0.88)),
                                                 to (shade (@theme_bg_color, 0.9)))
}

.primary-toolbar .button:active:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 0.95)),
                                     to (shade (@theme_bg_color, 1.0)));

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_bg_color, 0.75)),
                                           to (shade (@theme_bg_color, 0.85)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_bg_color, 0.93)),
                                                 to (shade (@theme_bg_color, 0.94)))
}

.primary-toolbar .button:active:insensitive,
.primary-toolbar .button:insensitive {
    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_bg_color, 0.85)),
                                           to (shade (@theme_bg_color, 0.95)));
    -unico-glow-radius: 0;
    -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (shade (@theme_bg_color, 1.2), 0.18)),
                                                 to (alpha (shade (@theme_bg_color, 1.4), 0.5)));
}

.primary-toolbar .button:insensitive {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 1.01)),
                                     to (shade (@theme_bg_color, 0.99)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_bg_color, 1.1)),
                                                 to (shade (@theme_bg_color, 1.04)));
}

.primary-toolbar .button:active:insensitive {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 0.94)),
                                     to (shade (@theme_bg_color, 1.02)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_bg_color, 0.92)),
                                                 to (shade (@theme_bg_color, 1.0)));
}

.primary-toolbar .entry,
.primary-toolbar .entry:active,
.primary-toolbar .entry:focus {
    border-radius: 2px;

    -unico-outer-stroke-width: 0;
}

.primary-toolbar .entry {
    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_bg_color, 0.75)),
                                           to (shade (@theme_bg_color, 0.95)));
}

.primary-toolbar .entry:insensitive {
    -unico-outer-stroke-width: 1;
    -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (shade (@theme_bg_color, 1.2), 0.18)),
                                                 to (alpha (shade (@theme_bg_color, 1.4), 0.5)));
}

.primary-toolbar .entry:focus {
    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_selected_bg_color, 0.75)),
                                           to (shade (@theme_selected_bg_color, 0.8)));
    -unico-inner-stroke-color: alpha (@theme_selected_bg_color, 0.2);
    -unico-inner-stroke-gradient: none;
}

.primary-toolbar GtkSeparatorToolItem,
.primary-toolbar .separator,
.primary-toolbar .separator:insensitive {
    border-color: alpha (shade (@theme_bg_color, 0.9), 0.5);
    border-style: solid;

    -unico-border-gradient: none;
    -unico-inner-stroke-color: alpha (shade (@theme_bg_color, 1.26), 0.4);
    -unico-inner-stroke-gradient: none;
}

/* inline-toolbar */
.inline-toolbar.toolbar {
    -GtkToolbar-button-relief: normal;

    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_base_color, 0.93)),
                                     color-stop (0.08, @theme_base_color),
                                     to (@theme_base_color));
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    padding: 3px 4px 4px 4px;
}

.inline-toolbar.toolbar:nth-child(last) {
    border-bottom-color: shade (@theme_bg_color, 0.76);
    border-color: shade (@theme_bg_color, 0.8);
    border-radius: 0 0 2px 2px;
    border-width: 0 1px 1px 1px;
}

.inline-toolbar.toolbar .button {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 1.12)),
                                     to (shade (@theme_bg_color, 0.88)));
    border-radius: 0;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    padding: 1px;

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_bg_color, 1.16)),
                                                 to (shade (@theme_bg_color, 0.98)));
    -unico-outer-stroke-width: 1 0 1 0;
    -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (shade (@theme_bg_color, 0.05), 0.015)),
                                                 to (alpha (shade (@theme_bg_color, 0.05), 0.04)));
}

.inline-toolbar.toolbar .button *:active,
.inline-toolbar.toolbar .button *:insensitive,
.inline-toolbar.toolbar GtkToolButton .button:active,
.inline-toolbar.toolbar GtkToolButton .button:insensitive {
    -unico-outer-stroke-width: 1 0 1 0;
    -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (shade (@theme_bg_color, 0.05), 0.02)),
                                                 to (alpha (shade (@theme_bg_color, 0.05), 0.06)));
}

.inline-toolbar.toolbar .button *:insensitive,
.inline-toolbar.toolbar GtkToolButton .button:insensitive {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 1.02)),
                                     to (shade (@theme_bg_color, 0.98)));

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_bg_color, 0.85)),
                                           to (shade (@theme_bg_color, 0.8)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_bg_color, 1.16)),
                                                 to (shade (@theme_bg_color, 1.0)));
}

.inline-toolbar.toolbar .button:nth-child(first),
.inline-toolbar.toolbar GtkToolButton:nth-child(first) .button {
    border-radius: 2px 0 0 2px;

    -unico-outer-stroke-width: 1 0 1 1;
}

.inline-toolbar.toolbar .button:nth-child(last),
.inline-toolbar.toolbar GtkToolButton:nth-child(last) .button {
    border-radius: 0 2px 2px 0;
    border-width: 1px;

    -unico-outer-stroke-width: 1 1 1 0;
}

/***********
 * tooltip *
 ***********/
.tooltip {
    background-color: alpha (@theme_tooltip_bg_color, 0.8);
    border-color: alpha (@theme_tooltip_bg_color, 0.9);
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;

    color: @theme_tooltip_fg_color;
}

.tooltip * {
    background-color: transparent;

    color: @theme_tooltip_fg_color;
}

/************
 * treeview *
 ************/
GtkTreeView.dnd {
    border-color: shade (@theme_selected_bg_color, 1.12);
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;

    -unico-outer-stroke-color: transparent;
    -unico-outer-stroke-width: 1;
}

GtkTreeView .entry {
    background-image: none;
    border-radius: 0;

    -unico-inner-stroke-gradient: none;
    -unico-inner-stroke-width: 1;
}

GtkTreeView row:nth-child(even) {
    background-color: shade (@theme_base_color, 0.95);
}

GtkTreeView row:nth-child(odd) {
    background-color: shade (@theme_base_color, 1.0);
}

/************
 * viewport *
 ************/
GtkViewport {
    color: @theme_fg_color;
}

GtkViewport.frame {
    border-width: 0;

    -unico-inner-stroke-width: 0;
}

.view:selected,
.view:selected:focus {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
    border-radius: 2px;
}
