/* Fallback Mode Panel */
PanelWidget,
PanelApplet,
PanelToplevel {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@dark_bg_color, 1.5)),
		to (shade (@dark_bg_color, 1.05)));
	padding: 0;
	-unico-inner-stroke-width: 0;
	-unico-outer-stroke-width: 0;
	color: @dark_fg_color;
	text-shadow: none;
}

PanelApplet {
	border-width: 0;
}

PanelSeparator {
	border-width: 0;
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@dark_bg_color, 1.5)),
		to (shade (@dark_bg_color, 1.05)));
	-unico-inner-stroke-width: 0;
	-unico-outer-stroke-width: 0;
	color: @dark_fg_color;
	text-shadow: none;
}

.gnome-panel-menu-bar,
PanelApplet > GtkMenuBar.menubar,
PanelApplet > GtkMenuBar.menubar.menuitem,
PanelMenuBar.menubar,
PanelMenuBar.menubar.menuitem {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@dark_bg_color, 1.5)),
		to (shade (@dark_bg_color, 1.05)));
	-unico-inner-stroke-width: 0;
	-unico-outer-stroke-width: 0;
	text-shadow: none;
	color: @dark_fg_color;
}

PanelAppletFrame { 
	background-color: @dark_bg_color;
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@dark_bg_color, 1.5)),
		to (shade (@dark_bg_color, 1.05)));
	border-width: 0;
	-unico-inner-stroke-width: 0;
	-unico-outer-stroke-width: 0;
	text-shadow: none;
}

PanelApplet .button {
	-GtkButton-inner-border: 2;

	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@dark_bg_color, 1.5)),
		to (shade (@dark_bg_color, 1.05)));

	border-color: @transparent;
	border-radius: 0;
	border-width: 0 1px 0 1px;

	color: @dark_fg_color;
	text-shadow: none;

	-unico-border-gradient: none;
	-unico-glow-radius: 0;
	-unico-inner-stroke-width: 0;
	-unico-outer-stroke-width: 0;
}

PanelApplet .button:prelight:active,
PanelApplet .button:active {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@dark_bg_color, 0.85)),
		to (shade (@dark_bg_color, 1.0))); 
	border-color: shade (@dark_bg_color, 0.78);
	border-radius: 0;
	border-width: 0 1px 0 1px;

	-unico-border-gradient: none;
	-unico-glow-radius: 0;
	-unico-inner-stroke-width: 0;
	-unico-outer-stroke-width: 0;
	text-shadow: none;
}

PanelApplet .button:prelight {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@dark_bg_color, 1.7)),
		to (shade (@dark_bg_color, 1.25)));
	border-color: @transparent;
	border-radius: 0;
	border-width: 0 1px 0 1px;

	-unico-border-gradient: none;
	-unico-glow-radius: 0;
	-unico-inner-stroke-width: 0;
	-unico-outer-stroke-width: 0;	
	text-shadow: none;
}

ClockBox {
	text-shadow: none;
}

WnckPager, WnckTasklist {
	background-color: @dark_bg_color;
	text-shadow: none;
}

/* Classic icon style */
.gnome-panel-menu-bar {
	-PanelMenuBar-icon-visible: true;
}

/* Makes the text color on the dark panel white */
.gnome-panel-menu-bar .menuitem {
	color: @dark_fg_color;
	text-shadow: none;
}

/* Makes sure that the menus doesn't get white text */
.gnome-panel-menu-bar .menu.menuitem,
.gnome-panel-menu-bar .menu .menuitem {
	color: @fg_color;
}

.gnome-panel-menu-bar .menu.menuitem:hover,
.gnome-panel-menu-bar .menu .menuitem:hover {
	color: @selected_fg_color;
}

/* FIXME - Need to figure out what id or class the indicator applet use */
/* IndicatorSession {
	color: @dark_fg_color;
	text-shadow: none;
} */
