#login_window,
#restart_dialog,
#shutdown_dialog,
#login_notebook {
    color: @panel_fg_normal;
    background-color: @panel_bg_normal;
    border-width: 0;
    box-shadow: inset 3px 0px @panel_bg_active,
        inset -3px 0px @panel_bg_active,
        inset 0px 3px @panel_bg_active,
                inset 0px -3px @panel_bg_active;
    border-radius: 10px;
}

/* workaround to disable selected labels background color */
#restart_dialog *:selected,
#shutdown_dialog *:selected {
    color: @panel_fg_normal;
    background-color: @panel_bg_normal;
}

#prompt_entry {
    color: @text_color;
}

#panel_window,
#panel_window #menubar,
#panel_window > #menubar {
    border-width: 0;
    background-color: @panel_bg_normal;
    background-image: none;
    color: @panel_fg_normal;
}

#panel_window #menubar > .menuitem,
#panel_window > #menubar > .menuitem {
    background-color: @panel_bg_normal;
    color: @panel_fg_normal;
}

#panel_window > #menubar > .menuitem:active,
#panel_window #menubar > .menuitem:active,
#panel_window > #menubar > .menuitem:hover,
#panel_window #menubar > .menuitem:hover {
    background-color: @panel_bg_active;
    border-color: @panel_bg_prelight;
}

#cancel_button,
#login_button,
#login_window .button,
#shutdown_button,
#restart_button {
    color: @panel_fg_normal;
    border-radius: 4px;
    border-color: alpha(@panel_button_border, 0.9);
    background-color: @panel_bg_normal;
    background-image: none;
    padding: 4px 16px 4px 16px;
}

#cancel_button:hover, #cancel_button:focus,
#login_button:hover, #login_button:focus,
#login_window .button:hover, #login_window .button:focus,
#shutdown_button:hover, #restart_button:hover,
#shutdown_button:focus, #restart_button:focus {
    border-color: @panel_bg_active;
}

#cancel_button:active,
#login_button:active,
#login_window .button:active {
    border-color: @border_selected;
}

#cancel_button:focus,
#login_button:focus, #login_window .button:focus,
#shutdown_button:focus, #restart_button:focus {
    box-shadow: inset 0 1px @border_selected,
                inset -1px 0  @border_selected,
                inset 0 -1px @border_selected,
                inset 1px 0 @border_selected;
}

#user_combobox .menu *,
#session_combobox .menu *,
#language_combobox .menu * {
    color: @text_color;
}

#user_combobox .menu *:hover,
#session_combobox .menu *:hover,
#language_combobox .menu *:hover {
    color: @selected_text_color;
}

#logo,
#user_image {
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: @panel_button_border;
    padding: 3px;
    box-shadow: inset 1px 0px alpha(@panel_button_border, 0.4),
                inset -1px 0px alpha(@panel_button_border, 0.4),
                inset 0px 1px alpha(@panel_button_border, 0.6),
                inset 0px -1px alpha(@panel_button_border, 0.2);
}
