UnityPanelWidget,
.unity-panel {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: shade(@theme_fg_color, 0.5);
    background-color: shade(@theme_bg_color, 0.95);
    background-image: none;
    color: @theme_fg_color;
}

.unity-panel.menubar,
.unity-panel .menubar {
}

.unity-panel.menuitem,
.unity-panel .menuitem {
    border-width: 0 1px;
    color: @theme_fg_color;
}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
    border-color: mix(@theme_base_color, @theme_selected_fg_color, 0.45);
    background-color: shade(@theme_selected_bg_color, 0.95);
    background-image: none;
    color: @theme_selected_fg_color;
}
