/****************
 * content view *
 ****************/
.content-view,
.content-view GtkViewport {
    background-color: @theme_base_color;
}

.content-view * {
    background-image: none;
    background-color: transparent;
}

.content-view-window {
    background-image: -gtk-gradient (linear,
                    left top,
                    left bottom,
                    from (@theme_base_color),
                    to (shade (@theme_base_color, 0.97)));
    
    border-radius: 2px;
    
    border-width: 1px;
    border-style: solid;
    border-color: shade (@theme_bg_color, 0.8);
}

.content-view .entry {
    background-image: -gtk-gradient (linear,
                     left top,
                     left bottom,
                     from (shade (@theme_base_color, 0.88)),
                     color-stop (0.20, shade (@theme_base_color, 0.94)),
                     to (shade (@theme_base_color, 0.96)));

    -unico-border-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (shade (@theme_base_color, 0.74)),
                     to (shade (@theme_base_color, 0.76)));
}

.content-view .title,
.content-view .option-title {
    color: @theme_text_color;
}

.content-view .subtitle,
.content-view .option-description {
    color: alpha (@theme_text_color, 0.5);
}

.content-view .button {
    -unico-inner-stroke-width: 1;
    -unico-focus-border-color: transparent;
    -unico-focus-outer-stroke-color: transparent;

    color: @theme_text_color;

    border-style: solid;
    border-radius: 2px;

    background-color: alpha (@theme_base_color, 0.0);

    background-image: none;

    -unico-outer-stroke-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (alpha (@theme_base_color, 0.00)),
                     color-stop (0.80, alpha (@theme_base_color, 0.00)),
                     to (alpha (@theme_base_color, 0.60)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear,
                     left bottom, left top,
                     from (alpha (@theme_base_color, 0.40)),
                     color-stop (0.20, alpha (@theme_base_color, 0.10)),
                     color-stop (0.80, alpha (@theme_base_color, 0.10)),
                     to (alpha (@theme_base_color, 1.00)));


    -unico-border-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (shade (@theme_base_color, 0.80)),
                     to (shade (@theme_base_color, 0.74)));
}

.content-view .button:active,
.content-view .button:active:hover {
    -unico-inner-stroke-width: 1;

    background-color: @theme_bg_color;
    background-image: none;

    -unico-border-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (shade (@theme_base_color, 0.74)),
                     to (shade (@theme_base_color, 0.74)));
}

.content-view .button:insensitive {
    background-image: none;
    background-color: alpha (@theme_base_color, 0.0);
}

.content-view .help_button * {
    color: @theme_text_color;
}   

.content-view .toolbar {
    -GtkWidget-window-dragging: true;
    
    padding: 1px;
    
    border-style: solid;
    border-width: 0 0 1px 0;

    border-color: shade (@theme_bg_color, 0.8);

    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 0.96)),
                                     to (shade (@theme_bg_color, 0.94)));
}

/*******************
 * album list view *
 *******************/
.album-list-view {
    background-color: @theme_base_color;
    color: @theme_fg_color;
    border-radius: 2px;
    border-color: shade (@theme_bg_color, 0.8);
}
 
.album-list-view * {
    -unico-focus-border-color: transparent;
    
    background-image: none;
    background-color: transparent;
    border-radius: 0;
}

.album-list-view GtkTreeView {
    background-color: @theme_base_color;
                    
    color: @theme_fg_color;
    
    -GtkTreeView-vertical-separator: 3;
    -GtkTreeView-grid-line-width: 0;
}

.album-list-view GtkTreeView row:nth-child(even) {
    background-image: none;
    background-color: shade (@theme_base_color, 0.95);
    border-width: 1px;
    border-style: solid;
    border-color: shade (@theme_bg_color, 0.9);
}


.album-list-view GtkTreeView row:nth-child(odd) {
    background-image: none;
    background-color: shade (@theme_base_color, 1.0);
    border-width: 0;
    border-style: none;
}

/*************
 * statusbar *
 *************/
GraniteWidgetsStatusBar {
    -unico-inner-stroke-width: 1px;
    
    padding: 1px;

    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 0.94)),
                                     to (shade (@theme_bg_color, 0.96)));

    -unico-inner-stroke-top-color: shade (@theme_bg_color, 0.8);
}

/***********
 * popover *
 ***********/
GraniteWidgetsPopOver {
    -GraniteWidgetsPopOver-arrow-width: 24;
    -GraniteWidgetsPopOver-arrow-height: 12;
    -GraniteWidgetsPopOver-border-radius: 5px;
    -GraniteWidgetsPopOver-border-width: 1;
    -GraniteWidgetsPopOver-shadow-size: 15;
    
    border-style: solid;
    border-color: shade (@theme_bg_color, 0.3);
    margin: 0;
}

.popover_bg {
    background-color: transparent;
    background-image: -gtk-gradient (linear,
                     left top,
                     left bottom,
                     from (shade (@theme_base_color, 0.97)),
                     color-stop (0.80, shade (@theme_base_color, 0.97)),
                     to (shade (@theme_base_color, 0.97)));
}

GraniteWidgetsPopOver .sidebar.view,
GraniteWidgetsPopOver * {
    background-color: transparent;
}

GraniteWidgetsPopOver .button {
    background-image: none;
    
    background-color: transparent;
}

GraniteWidgetsPopOver .button:active,
GraniteWidgetsPopOver .button:hover:active {
    background-image: none;

    background-color: @theme_bg_color;

    -unico-border-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (shade (@theme_base_color, 0.74)),
                     to (shade (@theme_base_color, 0.74)));
}

GraniteWidgetsPopOver .entry {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_base_color, 1.1)),
                                     to (@theme_base_color));

    color: @theme_text_color;
}

.button.app {
    border-width: 0;
    border-radius: 2px;

    -unico-inner-stroke-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (alpha (@theme_base_color, 0.00)),
                     to (alpha (@theme_base_color, 0.00)));
}

.app:hover,
.app:focus {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_selected_bg_color, 1.0)),
                                     to (shade (@theme_selected_bg_color, 0.9)));

    color: @theme_selected_fg_color;
}

/*************
 * wingpanel *
 *************/
.gnome-panel-menu-bar {
    padding: 0;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (rgba(0,0,0,0.7)),
                                     to (rgba(0,0,0,0.75)));
    text-shadow: 0 1 alpha (@theme_fg_color, 0.3);
    icon-shadow: 0 1 alpha (@theme_fg_color, 0.3);
}

.shadow {
    background-color: transparent;
    background-image: -gtk-gradient (linear,
                     left top, left bottom,
                     from (rgba(0,0,0,0.3)),
                     to (alpha (rgba(0,0,0,0.3), 0.0)));
}

.composited-indicator,
.wingpanel-app-button, 
.wingpanel-indicator-button {
    background-color: transparent;
    color: @theme_fg_color;
}

/**********
 * notify *
 **********/
.notify {
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;

    border-color: shade (@theme_bg_color, 0.8);

    background-color: alpha (@theme_base_color, 0.97);
}

.notify .low {
}

.notify .critical {
}
