NautilusWindow * {
    -GtkPaned-handle-size: 1;
}

.nautilus-canvas-item {
    border-radius: 2px;
}

/* desktop mode */
.nautilus-desktop.nautilus-canvas-item {
    color: #ffffff;
    text-shadow: 1 1 alpha (#000000, 0.8);
}

.nautilus-desktop.nautilus-canvas-item:active {
    background-image: none;
    background-color: alpha (@theme_bg_color, 0.84);

    color: @theme_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:selected {
    background-image: none;
    background-color: alpha (@theme_selected_bg_color, 0.84);

    color: @theme_selected_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
    text-shadow: none;
}

/* browser window */
NautilusTrashBar.info,
NautilusXContentBar.info,
NautilusSearchBar.info,
NautilusQueryEditor.info {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@info_bg_color, 1.02)),
                                     to (shade (@info_bg_color, 0.98)));
    background-color: @info_bg_color;
    border-bottom-color: shade (@info_bg_color, 0.92);
    border-radius: 0;
    border-style: solid;
    border-width: 0 0 1px 0;

    -unico-border-gradient: none;
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@info_bg_color, 1.04)),
                                                 to (shade (@info_bg_color, 1.01)));
}

.nautilus-cluebar-label {
    font: bold;
    color: @theme_base_color;
}

/* notebook */
NautilusWindow .notebook,
NautilusWindow .view {
    background-color: @theme_base_color;
}

NautilusWindow .view:selected,
NautilusWindow .view:selected:focus {
    background-color: alpha (@theme_selected_bg_color, 0.9);
    color: @theme_selected_fg_color;
}

NautilusWindow .notebook tab:active {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_base_color, 1.0)),
                                     to (shade (@theme_base_color, 1.0)));
}

/* inactive pane */
.nautilus-inactive-pane .view,
.nautilus-inactive-pane .notebook {
background-color: shade (@theme_base_color, 0.97);
}

.nautilus-inactive-pane .notebook tab:active {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_base_color, 0.97)),
                                     to (shade (@theme_base_color, 0.97)));
}
