UnityPanelWidget,
.unity-panel {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 1.2)),
                                     to (shade (@theme_bg_color, 0.85)));

    border-color: shade (@theme_bg_color, 0.8);
    border-style: solid;
    border-width: 0 0 1px 0;

    -unico-border-gradient: none;
}

.unity-panel.menubar,
.unity-panel .menubar {
    text-shadow: none;
}

.unity-panel.menuitem,
.unity-panel .menuitem {
    border-width: 0 1px;

    icon-shadow: none;
}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 1.2)),
                                     to (shade (@theme_bg_color, 1.0)));

    color: @theme_fg_color;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_bg_color, 0.88)),
                                           to (shade (@theme_bg_color, 0.9)));
    -unico-glow-radius: 0;
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_bg_color, 1.14)),
                                                 to (shade (@theme_bg_color, 1.0)));
    -unico-inner-stroke-width: 1;
}
